<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view contentType="text/html" locale="#{languageBean.locale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core">

	<html>
	<head>

	<link rel="stylesheet"
		href="#{facesContext.externalContext.requestContextPath}/css/styles.css"
		type="text/css" />

	<title>Freight Forwarder Management System</title>

	<script language="JavaScript" type="text/JavaScript"
		src="#{facesContext.externalContext.requestContextPath}/script/javascript.js"></script>
	<script type="text/javascript" language="JavaScript"
		src="#{facesContext.externalContext.requestContextPath}/script/base.js"></script>
	<script language="JavaScript"
		src="#{facesContext.externalContext.requestContextPath}/script/tabel.js"
		type="text/javascript"></script>

	</head>

	<body bgcolor="#202020" topmargin="0" leftmargin="0"
		background="#{facesContext.externalContext.requestContextPath}/images/bg.gif">

	<center>

	<table bgcolor="#202020" width="1280" height="100%" border="0"
		cellspacing="0" cellpadding="0">
		<tr>
			<td width="3" bgcolor="#FFFFFF"></td>
			<td width="1280" valign="top">

			<table bgcolor="#202020" width="1280" border="0" cellspacing="0"
				cellpadding="0">
				<ui:include src="/header.xhtml" />
				<ui:include src="/menu.xhtml" />
			</table>

			<table bgcolor="#464646" width="1280" height="350" border="0"
				cellspacing="0" cellpadding="0">
				<tr>
					<td width="1" bgcolor="#FFFFFF" align="right" valign="top"></td>
					<td width="0" align="left" valign="top"><h:graphicImage
						alt="shadow1" url="/images/shadow1.gif" border="0" height="0"
						width="0" /></td>
					<td width="1280" align="center" valign="top"><h:graphicImage
						alt="shadow1" url="/images/shadow1.gif" border="0" height="32"
						width="1280" /> <ui:insert name="body" /></td>
					<td width="0" align="left" valign="top"><h:graphicImage
						alt="shadow1" url="/images/shadow1.gif" border="0" height="32"
						width="0" /></td>
				</tr>
			</table>

			<ui:include src="/footer.xhtml" /></td>
			<td width="3" bgcolor="#FFFFFF"></td>
		</tr>
	</table>
	</center>

	</body>
	</html>
</f:view>

