<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="body">
		<h:form>

			<rich:panel style="width:1024px;">

				<f:facet name="header">
					<h:outputText value="#{msg.shipmentHeader}" />
				</f:facet>

				<h:messages style="color:darkred" />
				
					<h:outputLabel for="mandatory">
						<h:outputText value="*" style="color:red" />
						<h:outputText value="#{msg.mandatoryField}:" />
					</h:outputLabel>				

				<h:panelGrid columns="2">

					<h:outputText value="#{msg.shipmentNo}:"
						rendered="#{shipmentBean.editMode == true}" />
					<h:outputText value="#{shipmentBean.shipment.packagingNo}"
						rendered="#{shipmentBean.editMode == true}" />

					<h:outputLabel>
						<h:outputText value="#{msg.shipmentPackagingDate}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<rich:calendar value="#{shipmentBean.shipment.packagingDate}"
						datePattern="dd-MMM-yyyy">
					</rich:calendar>

					<h:outputLabel>
						<h:outputText value="#{msg.shipmentType}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:selectOneRadio value="#{shipmentBean.shipment.shipmentType}">
						<f:selectItems value="#{shipmentBean.shipmentTypeList}" />
					</h:selectOneRadio>

					<h:outputLabel>
						<h:outputText value="#{msg.shipmentMode}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:selectOneMenu value="#{shipmentBean.shipment.shipmentMode.id}">
						<f:selectItem itemValue="" itemLabel="#{msg.select}" />
						<f:selectItems value="#{shipmentBean.shipmentModeList}" />
					</h:selectOneMenu>

					<h:outputLabel>
						<h:outputText value="#{msg.shipmentDate}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<rich:calendar value="#{shipmentBean.shipment.shipmentDate}"
						datePattern="dd-MMM-yyyy">
					</rich:calendar>

					<h:outputLabel>
						<h:outputText value="#{msg.consignee}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{shipmentBean.shipment.consignee.name}"
						id="consigneeName" maxlength="100" />
					<rich:suggestionbox for="consigneeName"
						suggestionAction="#{customerBean.suggest}" var="cust" minChars="3"
						nothingLabel="No entry found">
						<h:column>
                            #{cust.name}
                        </h:column>
						<h:column>
                            #{cust.idNo}
                        </h:column>
						<a4j:support ajaxSingle="true" event="onselect"
							reRender="consignee">
							<f:setPropertyActionListener value="#{cust.custCode}"
								target="#{shipmentBean.shipment.consignee.custCode}" />
						</a4j:support>
					</rich:suggestionbox>
					<h:inputHidden value="#{shipmentBean.shipment.consignee.custCode}"
						id="consignee" />

					<h:outputLabel>
						<h:outputText value="#{msg.shipper}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{shipmentBean.shipment.carrier.name}"
						id="shipmentShipper" maxlength="100" />
					<rich:suggestionbox for="shipmentShipper"
						suggestionAction="#{customerBean.suggest}" var="cust" minChars="3"
						nothingLabel="No entry found">
						<h:column>
                            #{cust.name}
                        </h:column>
						<h:column>
                            #{cust.idNo}
                        </h:column>
						<a4j:support ajaxSingle="true" event="onselect" reRender="shipper">
							<f:setPropertyActionListener value="#{cust.custCode}"
								target="#{shipmentBean.shipment.carrier.custCode}" />
						</a4j:support>
					</rich:suggestionbox>
					<h:inputHidden value="#{shipmentBean.shipment.carrier.custCode}"
						id="shipper" />

					<h:outputLabel>
						<h:outputText value="#{msg.shipmentVesselName}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{shipmentBean.shipment.vesselName}"
						id="vesselName" maxlength="200" />

					<h:outputLabel>
						<h:outputText value="#{msg.shipmentVoyageNo}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{shipmentBean.shipment.voyageNo}"
						id="voyageNo" maxlength="200" />


					<h:outputLabel>
						<h:outputText value="#{msg.shipmentPOL}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{shipmentBean.shipment.pol.description}"
						id="pol" maxlength="200"
						requiredMessage="#{msg.requiredShipmentPOL}" />
					<rich:suggestionbox for="pol"
						suggestionAction="#{locationBean.suggest}" var="loc" minChars="3"
						nothingLabel="No entry found">
						<h:column>
                            #{loc.code}
                        </h:column>
						<h:column>
                            #{loc.description}
                        </h:column>
						<a4j:support ajaxSingle="true" event="onselect" reRender="polId">
							<f:setPropertyActionListener value="#{loc.id}"
								target="#{shipmentBean.shipment.pol.id}" />
						</a4j:support>
					</rich:suggestionbox>
					<h:inputHidden value="#{shipmentBean.shipment.pol.id}" id="polId" />

					<h:outputLabel>
						<h:outputText value="#{msg.shipmentPOD}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{shipmentBean.shipment.pod.description}"
						id="pod" maxlength="200" />
					<rich:suggestionbox for="pod"
						suggestionAction="#{locationBean.suggest}" var="loc" minChars="3"
						nothingLabel="No entry found">
						<h:column>
                            #{loc.code}
                        </h:column>
						<h:column>
                            #{loc.description}
                        </h:column>
						<a4j:support ajaxSingle="true" event="onselect" reRender="podId">
							<f:setPropertyActionListener value="#{loc.id}"
								target="#{shipmentBean.shipment.pod.id}" />
						</a4j:support>
					</rich:suggestionbox>
					<h:inputHidden value="#{shipmentBean.shipment.pod.id}" id="podId" />

					<h:outputLabel>
						<h:outputText value="#{msg.shipmentContainerNo}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{shipmentBean.shipment.containerNo}"
						id="containerNo" maxlength="200" />

					<h:outputLabel>
						<h:outputText value="#{msg.shipmentContainerType}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:selectOneMenu value="#{shipmentBean.shipment.cargoType.id}">
						<f:selectItem itemValue="" itemLabel="#{msg.select}" />
						<f:selectItems value="#{shipmentBean.cargoTypeList}" />
					</h:selectOneMenu>

					<h:outputLabel>
						<h:outputText value="#{msg.shipmentMaximumLoad}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{shipmentBean.shipment.maximumLoad}"
						id="maximumLoad" maxlength="200" />

					<h:outputLabel>
						<h:outputText value="#{msg.shipmentMaximumMeasurement}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{shipmentBean.shipment.maximumMeasurement}"
						id="maximumMeasurement" maxlength="200" />

					<h:outputLabel>
						<h:outputText value="#{msg.shipmentTotalVolume}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{shipmentBean.shipment.totalVolume}"
						id="totalVolume" maxlength="200" />

					<h:outputLabel>
						<h:outputText value="#{msg.shipmentTotalWeight}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{shipmentBean.shipment.totalWeight}"
						id="totalWeight" maxlength="200" />

					<h:outputLabel>
						<h:outputText value="#{msg.shipmentStatus}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:selectOneMenu value="#{shipmentBean.shipment.status}"
						style="width:100px">
						<f:selectItem itemValue="" itemLabel="#{msg.select}" />
						<f:selectItems value="#{shipmentBean.documentStatusList}" />
					</h:selectOneMenu>

					<h:outputLabel>
						<h:outputText value="#{msg.shipmentStatusReason}:" />
					</h:outputLabel>
					<h:inputText value="#{shipmentBean.shipment.statusReason}"
						size="50" maxlength="30" />

					<h:outputText value="#{msg.shipmentRemarks}:" />
					<h:inputTextarea value="#{shipmentBean.shipment.remarks}" cols="50"
						rows="3" />

				</h:panelGrid>

				<h:panelGrid>

					<rich:dataTable value="#{shipmentBean.selectedBookingList}"
						id="listShipmentItem" var="shipmentItem" rowKeyVar="row"
						style="width:795px;" rows="10">
						<h:column style="width:5px;">
							<f:facet name="header">
								<h:outputText value="#{msg.no}" />
							</f:facet>
							<h:outputText value="#{row+1}" />
						</h:column>
						<h:column>
							<f:facet name="header">
								<h:outputText value="#{msg.bookingMenu}" />
							</f:facet>
							<h:outputLabel>
								<h:outputText value="#{shipmentItem.booking.docNo}" />
								<br />
								<h:outputText value="#{shipmentItem.booking.createdOn}" />
								<br />
								<h:outputText
									value="#{msg.grossWeight}:#{shipmentItem.booking.grossWeight}" />
								<br />
								<h:outputText
									value="#{msg.measurement}:#{shipmentItem.booking.measurement}" />
							</h:outputLabel>
						</h:column>
						<h:column>
							<f:facet name="header">
								<h:outputText value="#{msg.shipmentItemPermitNo}" />
							</f:facet>
							<h:inputText value="#{shipmentItem.shipmentPermitNo}" />
						</h:column>

						<h:column>
							<f:facet name="header">
								<h:outputText value="#{msg.shipmentItemExportCertDate}" />
							</f:facet>
							<rich:calendar value="#{shipmentItem.exportCertDate}"
								datePattern="dd-MMM-yyyy" style="width:30px">
							</rich:calendar>
						</h:column>

						<h:column>
							<f:facet name="header">
								<h:outputText value="#{msg.shipmentItemExportCertNo}" />
							</f:facet>
							<h:inputText value="#{shipmentItem.exportCertNo}" />
						</h:column>

						<h:column>
							<f:facet name="header">
								<h:outputText value="#{msg.shipmentItemMarking}" />
							</f:facet>
							<h:inputText value="#{shipmentItem.marking}" />
						</h:column>
						<h:column>
							<f:facet name="header">
								<h:outputText value="#{msg.shipmentItemDescription}" />
							</f:facet>
							<h:inputText value="#{shipmentItem.description}" />
						</h:column>
					</rich:dataTable>
					<rich:spacer height="10" />
					<rich:datascroller for="listShipmentItem" maxPages="10" />
				</h:panelGrid>

				<h:panelGrid>
					<h:panelGroup>
						<rich:spacer height="15" />
						<h:commandButton value="#{msg.btnSave}" id="save"
							action="#{shipmentBean.save}" />
						<h:commandButton value="#{msg.btnReset}" id="cancel" type="reset" />						
					</h:panelGroup>
				</h:panelGrid>

			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>
