<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">


	<ui:define name="body">
		<h:form id="frmSearchBooking">

			<rich:panel style="width:1000px;">
				<f:facet name="header">
					<h:outputText value="#{msg.searchBookingForShipmentHeader}" />
				</f:facet>

				<h:messages style="color:darkred" />

				<a4j:outputPanel>

					<h:panelGrid columns="4">
						<h:outputText value="#{msg.shipmentPeriodBookingDate}:" />
						<rich:calendar id="startDateBookingPeriod"
							value="#{shipmentBean.startDateBookingPeriod}"
							datePattern="dd-MMM-yyyy">
						</rich:calendar>
						<h:outputLabel>
							<h:outputText value=" - " style="font:bold" />
						</h:outputLabel>
						<rich:calendar id="endDateBookingPeriod"
							value="#{shipmentBean.endDateBookingPeriod}"
							datePattern="dd-MMM-yyyy">
							<f:validator validatorId="f2ms.DateValidator" />
							<f:attribute name="operator" value="ge" />
							<f:attribute name="compareWith"
								value="frmSearchBooking:startDateBookingPeriod" />
							<f:attribute name="comparatorFieldName"
								value="#{msg.shipmentStartDateBookingPeriod}" />
							<f:attribute name="compareFieldName"
								value="#{msg.shipmentEndDateBookingPeriod}" />
						</rich:calendar>
					</h:panelGrid>

					<rich:spacer height="5" />

					<h:panelGrid columns="8">
					
						<h:outputText value="#{msg.shipmentPOL}:" />
						<h:inputText value="#{shipmentBean.pol}" size="15"
							id="pol" maxlength="20" />
						<rich:suggestionbox for="pol"
							suggestionAction="#{locationBean.suggest}" var="loc" minChars="3"
							nothingLabel="No entry found">
							<h:column>
                            #{loc.code}
                        </h:column>
							<h:column>
                            #{loc.description}
                        </h:column>
							<a4j:support ajaxSingle="true" event="onselect"
								reRender="polId">
								<f:setPropertyActionListener value="#{loc.id}"
									target="#{shipmentBean.pol}" />
							</a4j:support>
						</rich:suggestionbox>
						<h:inputHidden value="#{shipmentBean.pol}" id="polId" />
																	
						<rich:spacer height="5" />
						
						<h:outputText value="#{msg.shipmentPOD}:" />
						<h:inputText value="#{shipmentBean.pod}" size="15"
							id="pod" maxlength="20" />
						<rich:suggestionbox for="pod"
							suggestionAction="#{locationBean.suggest}" var="loc" minChars="3"
							nothingLabel="No entry found">
							<h:column>
                            #{loc.code}
                        </h:column>
							<h:column>
                            #{loc.description}
                        </h:column>
							<a4j:support ajaxSingle="true" event="onselect"
								reRender="podId">
								<f:setPropertyActionListener value="#{loc.id}"
									target="#{shipmentBean.pod}" />
							</a4j:support>
						</rich:suggestionbox>
						<h:inputHidden value="#{shipmentBean.pod}" id="podId" />						
					</h:panelGrid>
					
					<rich:spacer height="5" />
					
					<h:panelGrid columns="2">
						<h:outputText value="#{msg.shipmentCustomer}:" />
						<h:inputText value="#{shipmentBean.customer}" size="40"
							id="customer" maxlength="100" />
						<rich:suggestionbox for="customer"
							suggestionAction="#{customerBean.suggest}" var="cust"
							minChars="3" nothingLabel="No entry found">
							<h:column>
                            #{cust.name}
                        </h:column>
							<h:column>
                            #{cust.idNo}
                        </h:column>
							<a4j:support ajaxSingle="true" event="onselect"
								reRender="customerCode">
								<f:setPropertyActionListener value="#{cust.custCode}"
									target="#{shipmentBean.customer}" />
							</a4j:support>
						</rich:suggestionbox>
						<h:inputHidden value="#{shipmentBean.customer}" id="customerCode" />

					</h:panelGrid>

				</a4j:outputPanel>

				<h:panelGrid>
					<h:panelGroup>
						<rich:spacer height="15" />
						<h:commandButton value="#{msg.btnSearch}"
							action="#{shipmentBean.searchBooking}" />
						<h:commandButton value="#{msg.btnReset}" type="reset" />
						<rich:spacer height="15" width="50" />
					</h:panelGroup>
				</h:panelGrid>

				<rich:spacer height="10" />

				<rich:dataTable value="#{shipmentBean.availableBooking}"
					id="listBooking" var="booking" rowKeyVar="row" style="width:795px;"
					rows="10">
					<h:column>
						<f:facet name="header">
							<h:outputText value="" />
						</f:facet>
						<h:selectBooleanCheckbox
							value="#{shipmentBean.selectedBookingIds[booking.docNo]}">
						</h:selectBooleanCheckbox>
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.no}" />
						</f:facet>
						<h:outputText value="#{row+1}" />
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.docDate}"/>
						</f:facet>
						<h:outputText value="#{booking.createdOn}">
							<f:convertDateTime pattern="dd-MMM-yyyy"/>
						</h:outputText>
					</h:column>					
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.docNo}" />
						</f:facet>
						<h:outputText value="#{booking.docNo}" />
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.finalDestination}" />
						</f:facet>
						<h:outputText value="#{booking.finalDestinationDesc}" />
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.descOfGoods}" />
						</f:facet>
						<h:outputText value="#{booking.goodsDesc}" />
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.grossWeight}" />
						</f:facet>
						<h:outputText value="#{booking.grossWeight}" />
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.measurement}" />
						</f:facet>
						<h:outputText value="#{booking.measurement}" />
					</h:column>
				</rich:dataTable>

				<rich:spacer height="10" />
				<rich:datascroller for="listBooking" maxPages="10" />

				<h:panelGrid>
					<h:panelGroup>
						<rich:spacer height="15" />
						<h:commandButton value="#{msg.btnNext}"
							action="#{shipmentBean.createShipmentHeader}" />
						<h:commandButton value="#{msg.btnCancel}"
							action="#{shipmentBean.search}" />
					</h:panelGroup>
				</h:panelGrid>

			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>
