<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="body">
		<h:form id="frmSearchShipment">

			<rich:panel style="width:815px;">
				<f:facet name="header">
					<h:outputText value="#{msg.searchShipmentHeader}" />
				</f:facet>

				<h:messages style="color:darkred" />

				<h:panelGrid columns="2">
					<h:outputText value="#{msg.shipmentNo}:" />
					<h:inputText value="#{shipmentBean.packagingNo}" size="20" />

					<h:outputText value="#{msg.shipmentShipperName}:" />
					<h:inputText value="#{shipmentBean.shipper}" size="40" />

					<h:outputText value="#{msg.shipmentConsigneeName}:" />
					<h:inputText value="#{shipmentBean.consignee}" size="40" />
				</h:panelGrid>
				<rich:spacer height="5" />
				<h:panelGrid columns="4">
					<h:outputLabel>
						<h:outputText value="#{msg.shipmentPeriodBookingDate}:" />
					</h:outputLabel>
					<rich:calendar id="startDateBookingPeriod"
						value="#{shipmentBean.startDateBookingPeriod}"
						datePattern="dd-MMM-yyyy">
					</rich:calendar>
					<h:outputLabel>
						<h:outputText value=" - " style="font:bold" />
					</h:outputLabel>
					<rich:calendar id="endDateBookingPeriod"
						value="#{shipmentBean.endDateBookingPeriod}"
						datePattern="dd-MMM-yyyy">
						<f:validator validatorId="f2ms.DateValidator" />
						<f:attribute name="operator" value="ge" />
						<f:attribute name="compareWith"
							value="frmSearchShipment:startDateBookingPeriod" />
						<f:attribute name="comparatorFieldName"
							value="#{msg.shipmentStartDateBookingPeriod}" />
						<f:attribute name="compareFieldName"
							value="#{msg.shipmentEndDateBookingPeriod}" />
					</rich:calendar>
				</h:panelGrid>


				<h:panelGrid>
					<h:panelGroup>
						<rich:spacer height="15" />
						<h:commandButton value="#{msg.btnSearch}"
							action="#{shipmentBean.search}" />
						<h:commandButton value="#{msg.btnReset}" type="reset" />
						<h:commandButton value="#{msg.btnAddShipment}"
							action="#{shipmentBean.create}" />
					</h:panelGroup>
				</h:panelGrid>

				<rich:spacer height="10" />

				<rich:dataTable value="#{shipmentBean.listResult}" id="listShipment"
					var="shipment" rowKeyVar="row" style="width:795px;" rows="10">
					<rich:column style="width:5px;">
						<f:facet name="header">
							<h:outputText value="#{msg.no}" />
						</f:facet>
						<h:outputText value="#{row+1}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.shipmentNo}" />
						</f:facet>
						<h:commandLink action="#{shipmentBean.edit}">
							<h:outputText value="#{shipment.packagingNo}" />
							<f:param name="id" value="#{shipment.packagingNo}" />
						</h:commandLink>
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.shipmentPackagingDate}" />
						</f:facet>
						<h:outputText value="#{shipment.packagingDate}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.shipmentDate}" />
						</f:facet>
						<h:outputText value="#{shipment.shipmentDate}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.shipmentPOD}" />
						</f:facet>
						<h:outputText value="#{shipment.pod.code}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.shipmentPOL}" />
						</f:facet>
						<h:outputText value="#{shipment.pol.code}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.shipmentMode}" />
						</f:facet>
						<h:outputText value="#{shipment.shipmentMode.code}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.shipmentStatus}" />
						</f:facet>
						<h:outputText value="#{shipment.statusDescription}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.shipmentRemarks}" />
						</f:facet>
						<h:outputText value="#{shipment.remarks}" />
					</rich:column>
					<rich:column>
						<h:commandLink value="#{msg.btnPrintExportCert}"
							id="printExportCert" action="#{shipmentBean.printExportCert}">
							<f:param name="id" value="#{shipment.packagingNo}" />
						</h:commandLink>
						<br/>
						<h:commandLink value="#{msg.btnPrintShipmentCover}"
							id="printShipmentCover"
							action="#{shipmentBean.printShipmentCoversheet}">
							<f:param name="id" value="#{shipment.packagingNo}" />
						</h:commandLink>
					</rich:column>

				</rich:dataTable>
				<rich:spacer height="10" />
				<rich:datascroller for="listShipment" maxPages="10" />
				<rich:spacer height="10" />

			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>

