<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="body">
		<h:form id="form">
			<h:inputHidden value="#{userBean.editMode}" />
			<h:inputHidden value="#{userBean.user.idNo}" />
			<h:inputHidden value="#{userBean.user.state}" />
			<h:inputHidden value="#{userBean.user.createdBy}" />
			<h:inputHidden value="#{userBean.user.changedBy}" />
			<h:inputHidden value="#{userBean.user.createdOn}">
				<f:convertDateTime type="both" dateStyle="full" />
			</h:inputHidden>

			<rich:panel style="width:815px;">

				<f:facet name="header">
					<h:outputText value="#{userBean.userHeader}" />
				</f:facet>

				<h:messages style="color:darkred" />
				
					<h:outputLabel for="mandatory">
						<h:outputText value="*" style="color:red" />
						<h:outputText value="#{msg.mandatoryField}:" />
					</h:outputLabel>				

				<h:panelGrid columns="2">

					<h:outputLabel>
						<h:outputText value="#{msg.userName}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{userBean.user.username}" size="25"
						maxlength="30" readonly="#{userBean.editMode}"
						required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredUserName}" />

					<h:outputText value="#{msg.userStaff}:" />
					<h:inputText value="#{userBean.staffName}" size="20"
						id="staffInput" />

					<rich:suggestionbox for="staffInput"
						suggestionAction="#{staffBean.suggest}" var="staff" minChars="3"
						nothingLabel="No entry found">
						<h:column>
							#{staff.name}       					
       					</h:column>
						<h:column>
							#{staff.designation}       					
       					</h:column>
						<a4j:support ajaxSingle="true" event="onselect" reRender="staffId">
							<f:setPropertyActionListener value="#{staff.staffCode}"
								target="#{userBean.user.staffCode}" />
						</a4j:support>
					</rich:suggestionbox>
					<h:inputHidden value="#{userBean.user.staffCode}" id="staffId" />

					<h:outputLabel>
						<h:outputText value="#{msg.userStatus}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:selectOneMenu value="#{userBean.user.status}"
						required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredUserStatus}">
						<f:selectItem itemValue="" itemLabel="#{msg.select}" />
						<f:selectItems value="#{userBean.userStatusList}" />
					</h:selectOneMenu>

					<h:outputLabel>
						<h:outputText value="#{msg.userRoles}:" />
					</h:outputLabel>
					<h:selectManyCheckbox id="roles"
						value="#{userBean.user.selectedRoles}">
						<f:selectItems value="#{userBean.allRoles}" />
					</h:selectManyCheckbox>

				</h:panelGrid>

				<h:commandButton value="#{msg.btnSave}" id="save"
					action="#{userBean.save}" />
				<h:commandButton value="#{msg.btnReset}" id="cancel" type="reset" />
				<h:commandButton value="#{msg.btnResetPswd}" id="resetPswd"
					action="#{userBean.resetPswd}" />
			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>
