<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="body">
		<h:form>
			<rich:panel style="width:815px;">
				<f:facet name="header">
					<h:outputText value="#{msg.searchUserHeader}"></h:outputText>
				</f:facet>

				<h:panelGrid columns="2">
					<h:outputText value="#{msg.userName}:" />
					<h:inputText value="#{userBean.username}" size="20" />

					<h:outputText value="#{msg.userStaff}:" />
					<h:inputText value="#{userBean.staffName}" size="20"
						id="staffInput" />

					<rich:suggestionbox for="staffInput"
						suggestionAction="#{staffBean.suggest}" var="staff" minChars="3"
						nothingLabel="No entry found">
						<h:column>
							#{staff.name}       					
       					</h:column>
						<h:column>
							#{staff.designation}       					
       					</h:column>
						<a4j:support ajaxSingle="true" event="onselect" reRender="staffId">
							<f:setPropertyActionListener value="#{staff.staffCode}"
								target="#{userBean.staffid}" />
						</a4j:support>
					</rich:suggestionbox>
					<h:inputHidden value="#{userBean.staffid}" id="staffId" />

					<h:outputText value="#{msg.userStatus}:" />
					<h:selectOneMenu value="#{userBean.status}">
						<f:selectItem itemValue="" itemLabel="#{msg.select}" />
						<f:selectItems value="#{userBean.userStatusList}" />
					</h:selectOneMenu>
				</h:panelGrid>

				<h:panelGrid>
					<h:panelGroup>
						<rich:spacer height="15" />
						<h:commandButton value="#{msg.btnSearch}"
							action="#{userBean.search}" />
						<h:commandButton value="#{msg.btnReset}" type="reset" />
						<h:commandButton value="#{msg.btnAddUser}"
							action="#{userBean.create}" />
						<rich:spacer height="15" width="50" />
					</h:panelGroup>
				</h:panelGrid>

				<rich:spacer height="10" />

				<rich:dataTable value="#{userBean.listResult}" id="listUsers"
					var="user" rowKeyVar="row" style="width:795px;" rows="10">
					<rich:column style="width:5px;">
						<f:facet name="header">
							<h:outputText value="#{msg.no}" />
						</f:facet>
						<h:outputText value="#{row+1}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.userName}" />
						</f:facet>
						<h:commandLink action="#{userBean.edit}">
							<h:outputText value="#{user.username}"/>
							<f:param name="idNo" value="#{user.idNo}" />							
						</h:commandLink>
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.userStaff}" />
						</f:facet>
						<h:outputText value="#{user.staffObj.name}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.userStatus}" />
						</f:facet>
						<h:outputText value="#{user.statusDesc}" />
					</rich:column>
				</rich:dataTable>

				<rich:spacer height="10" />

				<rich:datascroller for="listUsers" maxPages="10" />
			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>

