<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="body">	
		<h:form id="form" prependId="false">

			<a4j:loadScript src="resource://jquery.js" />
			
			<h:inputHidden value="#{bookingBean.editMode}" />
			<h:inputHidden value="#{bookingBean.booking.docNo}" />
			<h:inputHidden value="#{bookingBean.booking.status}" />
			<h:inputHidden value="#{bookingBean.booking.state}" />
			<h:inputHidden value="#{bookingBean.booking.createdBy}" />
			<h:inputHidden value="#{bookingBean.booking.changedBy}" />
			<h:inputHidden value="#{bookingBean.booking.createdOn}">
				<f:convertDateTime type="both" dateStyle="full" />
			</h:inputHidden>
			
			<script type="text/javascript">
				/*
				jQuery(document).ready(function() {
					jQuery("#transhipmentLblId").hide();
					jQuery("#transhipmentId").hide();
					
					jQuery("#shipmentTypeId").click(function() {
						var option = jQuery(this).val();					
						
						jQuery("#transhipmentLblId").show();
						jQuery("#transhipmentId").show();
					});
				});
				*/
			</script>

			<rich:panel style="width:815px;">
			
				<f:facet name="header">
					<h:outputText value="#{bookingBean.bookingHeader}" />
				</f:facet>

				<h:messages style="color:darkred" />		
				
					<h:outputLabel for="mandatory">
						<h:outputText value="*" style="color:red" />
						<h:outputText value="#{msg.mandatoryField}:" />
					</h:outputLabel>						
				
				<rich:tabPanel>					
					<rich:tab label="#{msg.tabBookingHeader}">
						<h:panelGrid columns="2">
							<h:outputText value="#{msg.docNo}:"
								rendered="#{bookingBean.editMode == true}" />
							<h:outputText value="#{bookingBean.booking.docNo}"
								rendered="#{bookingBean.editMode == true}" />
							<h:outputText value="#{msg.status}:"
								rendered="#{bookingBean.editMode == true}" />
							<h:outputText value="#{bookingBean.booking.statusDesc}"
								rendered="#{bookingBean.editMode == true}" />
		
							<h:outputLabel for="bookingType">
								<h:outputText value="#{msg.bookingType}:" />
								<h:outputText value="*" style="color:red" />
							</h:outputLabel>
							<h:selectOneRadio id="bookingType" value="#{bookingBean.booking.bookingType}">
								<f:selectItems value="#{bookingBean.bookingTypeList}" />
							</h:selectOneRadio>
		
							<h:outputLabel for="shipmentTypeId">
								<h:outputText value="#{msg.shipmentType}:" />
								<h:outputText value="*" style="color:red" />
							</h:outputLabel>
							<h:selectOneRadio id="shipmentTypeId" value="#{bookingBean.booking.shipmentType}">
								<f:selectItems value="#{bookingBean.shipmentTypeList}" />
							</h:selectOneRadio>
		
							<h:outputLabel for="transhipmentId" id="transhipmentLblId">
								<h:outputText value="#{msg.transhipmentVia}:" />
							</h:outputLabel>
							<h:selectOneMenu value="#{bookingBean.booking.transhipmentVia}" id="transhipmentId">
								<f:selectItem itemValue="" itemLabel="#{msg.select}" />
								<f:selectItems value="#{bookingBean.transhipmentTypeList}" />
							</h:selectOneMenu>
							
							<h:outputLabel for="shipmentMode">
								<h:outputText value="#{msg.shipmentMode}:" />
								<h:outputText value="*" style="color:red" />
							</h:outputLabel>
							<h:selectOneMenu id="shipmentMode" value="#{bookingBean.booking.shipmentMode}">
								<f:selectItem itemValue="" itemLabel="#{msg.select}" />
								<f:selectItems value="#{bookingBean.shipmentModeList}" />
							</h:selectOneMenu>						
		
							<h:outputLabel for="shipperInput">
								<h:outputText value="#{msg.shipper}:" />
								<h:outputText value="*" style="color:red" />
							</h:outputLabel>
							<h:inputText value="#{bookingBean.booking.shipperName}"
								id="shipperInput" size="25" maxlength="100"/>
		
							<rich:suggestionbox for="shipperInput"
								suggestionAction="#{customerBean.suggest}" var="cust" minChars="3"
								nothingLabel="No entry found">
								<h:column>
									#{cust.name}       					
		       					</h:column>
								<h:column>
									#{cust.idNo}       					
		       					</h:column>
								<a4j:support ajaxSingle="true" event="onselect"
									reRender="shipperId">
									<f:setPropertyActionListener value="#{cust.custCode}"
										target="#{bookingBean.booking.shipperId}" />
								</a4j:support>
							</rich:suggestionbox>
							<h:inputHidden value="#{bookingBean.booking.shipperId}"
								id="shipperId" />
		
							<h:outputLabel for="consigneeInput">
								<h:outputText value="#{msg.consignee}:" />
								<h:outputText value="*" style="color:red" />
							</h:outputLabel>
							<h:inputText value="#{bookingBean.booking.consigneeName}"
								id="consigneeInput" size="25" maxlength="100"/>
		
							<rich:suggestionbox for="consigneeInput"
								suggestionAction="#{customerBean.suggest}" var="cust" minChars="3"
								nothingLabel="No entry found">
								<h:column>
									#{cust.name}       					
		       					</h:column>
								<h:column>
									#{cust.idNo}       					
		       					</h:column>
								<a4j:support ajaxSingle="true" event="onselect"
									reRender="consigneeId">
									<f:setPropertyActionListener value="#{cust.custCode}"
										target="#{bookingBean.booking.consigneeId}" />
								</a4j:support>
							</rich:suggestionbox>
		
							<h:inputHidden value="#{bookingBean.booking.consigneeId}"
								id="consigneeId" />
		
							<h:outputLabel for="placeOfReceiptInput">
								<h:outputText value="#{msg.placeOfReceipt}:" />
								<h:outputText value="*" style="color:red" />
							</h:outputLabel>
							<h:inputText value="#{bookingBean.booking.placeOfReceiptDesc}"
								id="placeOfReceiptInput" size="35" maxlength="100"/>
		
							<rich:suggestionbox for="placeOfReceiptInput"
								suggestionAction="#{locationBean.suggest}" var="loc" minChars="3"
								nothingLabel="No entry found" fetchValue="#{loc.description}">
								<h:column>
									#{loc.id}       					
		       					</h:column>
								<h:column>
									#{loc.code}       					
		       					</h:column>
								<h:column>
									#{loc.description}       					
		       					</h:column>
								<a4j:support ajaxSingle="true" event="onselect"
									reRender="placeOfReceiptId">
									<f:setPropertyActionListener value="#{loc.id}"
										target="#{bookingBean.booking.placeOfReceiptId}" />
								</a4j:support>
							</rich:suggestionbox>
		
							<h:inputHidden value="#{bookingBean.booking.placeOfReceiptId}"
								id="placeOfReceiptId" />
		
							<h:outputLabel>
								<h:outputText value="#{msg.pol}:" />
								<h:outputText value="*" style="color:red" />
							</h:outputLabel>
							<h:inputText value="#{bookingBean.booking.polDesc}" id="polInput"
								size="35" maxlength="100"/>
		
							<rich:suggestionbox for="polInput"
								suggestionAction="#{locationBean.suggest}" var="loc" minChars="3"
								nothingLabel="No entry found" fetchValue="#{loc.description}">
								<h:column>
									#{loc.id}       					
		       					</h:column>
								<h:column>
									#{loc.code}       					
		       					</h:column>
								<h:column>
									#{loc.description}       					
		       					</h:column>
								<a4j:support ajaxSingle="true" event="onselect" reRender="polId">
									<f:setPropertyActionListener value="#{loc.id}"
										target="#{bookingBean.booking.polId}" />
								</a4j:support>
							</rich:suggestionbox>
		
							<h:inputHidden value="#{bookingBean.booking.polId}" id="polId" />
		
							<h:outputLabel>
								<h:outputText value="#{msg.pod}:" />
								<h:outputText value="*" style="color:red" />
							</h:outputLabel>
							<h:inputText value="#{bookingBean.booking.podDesc}" id="podInput"
								size="35" maxlength="100"/>
		
							<rich:suggestionbox for="podInput"
								suggestionAction="#{locationBean.suggest}" var="loc" minChars="3"
								nothingLabel="No entry found" fetchValue="#{loc.description}">
								<h:column>
									#{loc.id}       					
		       					</h:column>
								<h:column>
									#{loc.code}       					
		       					</h:column>
								<h:column>
									#{loc.description}       					
		       					</h:column>
								<a4j:support ajaxSingle="true" event="onselect" reRender="podId">
									<f:setPropertyActionListener value="#{loc.id}"
										target="#{bookingBean.booking.podId}" />
								</a4j:support>
							</rich:suggestionbox>
		
							<h:inputHidden value="#{bookingBean.booking.podId}" id="podId" />
		
							<h:outputLabel>
								<h:outputText value="#{msg.finalDestination}:" />
								<h:outputText value="*" style="color:red" />
							</h:outputLabel>
							<h:inputText value="#{bookingBean.booking.finalDestinationDesc}"
								id="finalDestinationInput" size="35" maxlength="100"/>
		
							<rich:suggestionbox for="finalDestinationInput"
								suggestionAction="#{locationBean.suggest}" var="loc" minChars="3"
								nothingLabel="No entry found" fetchValue="#{loc.description}">
								<h:column>
									#{loc.id}       					
		       					</h:column>
								<h:column>
									#{loc.code}       					
		       					</h:column>
								<h:column>
									#{loc.description}       					
		       					</h:column>
								<a4j:support ajaxSingle="true" event="onselect"
									reRender="finalDestinationId">
									<f:setPropertyActionListener value="#{loc.id}"
										target="#{bookingBean.booking.finalDestinationId}" />
								</a4j:support>
							</rich:suggestionbox>
		
							<h:inputHidden value="#{bookingBean.booking.finalDestinationId}"
								id="finalDestinationId" />
						</h:panelGrid>								
					</rich:tab>	
						
					<rich:tab label="#{msg.tabBookingPackages}">
						<h:panelGrid columns="2">	
							<h:outputLabel>
								<h:outputText value="#{msg.numOfPackagesInner}:" />
							</h:outputLabel>
							<h:inputText id="numOfPackageInner" value="#{bookingBean.booking.innerPkgNo}" size="10"
								maxlength="10" />
		
							<h:outputLabel>
								<h:outputText value="#{msg.kindOfPackagesInner}:" />
							</h:outputLabel>
							<h:selectOneMenu value="#{bookingBean.booking.innerPkgKind}">
								<f:selectItem itemValue="" itemLabel="#{msg.select}" />
								<f:selectItems value="#{bookingBean.packageKindList}" />
							</h:selectOneMenu>
		
							<h:outputLabel for="numOfPackage">
								<h:outputText value="#{msg.numOfPackagesOuter}:" />
							</h:outputLabel>
							<h:inputText id="numOfPackageOuter" value="#{bookingBean.booking.outerPkgNo}" size="10"
								maxlength="10" />
		
							<h:outputLabel for="kindOfPackage">
								<h:outputText value="#{msg.kindOfPackagesOuter}:" />
							</h:outputLabel>
							<h:selectOneMenu id="kindOfPackage" value="#{bookingBean.booking.outerPkgKind}">
								<f:selectItem itemValue="" itemLabel="#{msg.select}" />
								<f:selectItems value="#{bookingBean.packageKindList}" />
							</h:selectOneMenu>
		
							<h:outputLabel for="grossweight">
								<h:outputText value="#{msg.grossWeight}:" />
								<h:outputText value="*" style="color:red" />
							</h:outputLabel>
							<h:inputText id="grossweight"
								value="#{bookingBean.booking.grossWeight}" size="18"
								maxlength="18"/>
		
							<h:outputLabel>
								<h:outputText value="#{msg.measurement}:" />
								<h:outputText value="*" style="color:red" />
							</h:outputLabel>
							<h:inputText id="measurement"
								value="#{bookingBean.booking.measurement}" size="18"
								maxlength="18"/>
								
							<h:outputLabel for="goodsValuesCurr">
								<h:outputText value="#{msg.goodsValuesCurr}:" />
							</h:outputLabel>
							<h:selectOneMenu id="goodsValuesCurr" value="#{bookingBean.booking.goodsValuesCurr}">
								<f:selectItem itemValue="" itemLabel="#{msg.select}" />
								<f:selectItems value="#{bookingBean.currencyList}" />
							</h:selectOneMenu>
							
							<h:outputLabel for="goodsValues">
								<h:outputText value="#{msg.goodsValues}:" />
							</h:outputLabel>
							<h:inputText id="goodsValues" value="#{bookingBean.booking.goodsValues}" size="18"
								maxlength="18" />								
		
						</h:panelGrid>
					</rich:tab>											
					
					<rich:tab label="#{msg.tabBookingUpload}">
						<h:panelGrid>																																												
							<rich:dataTable value="#{bookingBean.booking.listFiles}" id="listFiles"
								var="file" rowKeyVar="row" style="width:545px;" rows="10" rendered="#{bookingBean.editMode == true}">
								
								<rich:column style="width:5px;">
									<f:facet name="header">
										<h:outputText value="#{msg.no}" />
									</f:facet>
									<h:outputText value="#{row+1}" />
								</rich:column>
								<rich:column style="width:450px;">
									<f:facet name="header">
										<h:outputText value="#{msg.fileName}" />
									</f:facet>
									<h:outputText value="#{file.fileName}" />
								</rich:column>
								<rich:column style="width:45px;">
									<f:facet name="header">
										<h:outputText value="#{msg.viewFile}" />
									</f:facet>
									<h:commandLink action="#{bookingBean.downloadFile}">
										<h:outputText value="#{msg.viewFile}"/>
										<f:param name="fileId" value="#{file.id}" />							
									</h:commandLink>
								</rich:column>
								<rich:column style="width:45px;">
									<f:facet name="header">
										<h:outputText value="#{msg.deleteFile}" />
									</f:facet>
									<h:selectBooleanCheckbox value="#{bookingBean.checkDeleted[file.id]}" />
								</rich:column>								
							</rich:dataTable>
							
							<h:outputLabel>
								<h:outputText value="#{msg.fileReq}" style="color:red" />
							</h:outputLabel>
							
							<rich:fileUpload  
									uploadData="#{bookingBean.uploadedFiles}"
									maxFilesQuantity="10"
									id="upload"
									immediateUpload="#{bookingBean.autoUpload}"
									acceptedTypes="jpg, gif, png, bmp, pdf"
									allowFlash="#{bookingBean.useFlash}">
								
							</rich:fileUpload>
																																									
						</h:panelGrid>
					</rich:tab>	
						
					<rich:tab label="#{msg.tabBookingOther}">
						<h:panelGrid columns="2">
							<h:outputLabel for="descOfGoods">
								<h:outputLabel value="#{msg.descOfGoods}:" />
							</h:outputLabel>
							<h:inputTextarea id="descOfGoods" value="#{bookingBean.booking.goodsDesc}" cols="50"
								rows="3" />
		
							<rich:toolTip value="#{msg.tooltipGrossWeight}" for="grossweight" />
							<rich:toolTip value="#{msg.tooltipMeasurement}" for="measurement" />
		
							<h:outputLabel for="hsCode">
								<h:outputText value="#{msg.hsCode}:" />
								<h:outputText value="*" style="color:red" />
							</h:outputLabel>
							<h:inputText id="hsCode" value="#{bookingBean.booking.hsCode}" size="20"
								maxlength="20"/>
		
							<h:outputLabel for="permitNo">
								<h:outputText value="#{msg.permitNo}:" />
								<h:outputText value="*" style="color:red" />
							</h:outputLabel>
							<h:inputText id="permitNo" value="#{bookingBean.booking.permitNo}" size="20"
								maxlength="20"/>
		
							<h:outputLabel for="markNumber">
								<h:outputText value="#{msg.marksAndNumber}:" />
							</h:outputLabel>
							<h:inputTextarea id="markNumber" value="#{bookingBean.booking.markAndNo}" />
		
							<h:outputLabel for="needPickup">
								<h:outputText value="#{msg.needPickup}:" />
							</h:outputLabel>
							<h:selectOneMenu id="needPickup" value="#{bookingBean.booking.needPickup}">
								<f:selectItem itemValue="" itemLabel="#{msg.select}" />
								<f:selectItem itemValue="0" itemLabel="#{msg.no}" />
								<f:selectItem itemValue="1" itemLabel="#{msg.yes}" />
							</h:selectOneMenu>
		
							<h:outputLabel for="remark">
								<h:outputText value="#{msg.remark}:" />
							</h:outputLabel>
							<h:inputTextarea id="remark" value="#{bookingBean.booking.remark}" />
						</h:panelGrid>		
					</rich:tab>			
				</rich:tabPanel>

				<rich:spacer height="25" />

				<h:commandButton value="#{msg.btnSave}" id="save"
					action="#{bookingBean.save}" rendered="#{bookingBean.booking.status != bookingBean.cancelledStatus}"/>
				<h:commandButton value="#{msg.btnReset}" id="reset" type="reset" rendered="#{bookingBean.booking.status != bookingBean.cancelledStatus}"/>
				<h:commandButton value="#{msg.btnCancel}" id="cancel" action="#{bookingBean.cancel}" rendered="#{bookingBean.booking.status != bookingBean.cancelledStatus}" />
			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>
