<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">


	<ui:define name="body">
		<h:form>

			<rich:panel style="width:815px;">
				<f:facet name="header">
					<h:outputText value="#{msg.searchBookingHeader}"></h:outputText>
				</f:facet>

				<a4j:outputPanel id="searchBooking">
					<h:panelGrid columns="2">
						<h:outputText value="#{msg.docNo}:" />
						<h:inputText value="#{bookingBean.docNo}" size="30" />

						<h:outputText value="#{msg.shipmentType}:" />
						<h:selectOneRadio value="#{bookingBean.shipmentType}">
							<f:selectItems value="#{bookingBean.shipmentTypeList}" />
							<a4j:support event="onchange" reRender="searchBooking" />
						</h:selectOneRadio>

						<h:outputText value="#{msg.transhipmentVia}:"
							rendered="#{bookingBean.shipmentType == bookingBean.transhipment}" />
						<h:selectOneMenu value="#{bookingBean.transhipmentType}"
							rendered="#{bookingBean.shipmentType == bookingBean.transhipment}">
							<f:selectItem itemValue="" itemLabel="#{msg.select}" />
							<f:selectItems value="#{bookingBean.transhipmentTypeList}" />
						</h:selectOneMenu>

						<h:outputText value="#{msg.hsCode}:" />
						<h:inputText value="#{bookingBean.hsCode}" size="20" />
						<h:outputText value="#{msg.permitNo}:" />
						<h:inputText value="#{bookingBean.permitNo}" size="20" />
						<h:outputText value="#{msg.status}:" />
						<h:selectOneMenu value="#{bookingBean.status}">
							<f:selectItem itemValue="" itemLabel="#{msg.select}" />
							<f:selectItems value="#{bookingBean.bookingStatusList}" />
						</h:selectOneMenu>
					</h:panelGrid>
				</a4j:outputPanel>

				<h:panelGrid>
					<h:panelGroup>
						<rich:spacer height="15" />
						<h:commandButton value="#{msg.btnSearch}"
							action="#{bookingBean.search}" />
						<h:commandButton value="#{msg.btnReset}" type="reset" />
						<h:commandButton value="#{msg.btnAddBooking}"
							action="#{bookingBean.create}" />
						<rich:spacer height="15" width="50" />
					</h:panelGroup>
				</h:panelGrid>

				<rich:spacer height="10" />

				<rich:dataTable value="#{bookingBean.listResult}" id="listBooking"
					var="booking" rowKeyVar="row" style="width:795px;" rows="10">
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.no}" />
						</f:facet>
						<h:outputText value="#{row+1}" />
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.docNo}" />
						</f:facet>
						<h:commandLink action="#{bookingBean.edit}">
							<h:outputText value="#{booking.docNo}" />							
							<f:param name="docNo" value="#{booking.docNo}" />							
						</h:commandLink>
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.shipmentType}" />
						</f:facet>
						<h:outputText value="#{booking.shipmentTypeDesc}" />
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.transhipmentVia}" />
						</f:facet>
						<h:outputText value="#{booking.transhipmentViaDesc}" />
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.hsCode}" />
						</f:facet>
						<h:outputText value="#{booking.hsCode}" />
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.permitNo}" />
						</f:facet>
						<h:outputText value="#{booking.permitNo}" />
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.status}" />
						</f:facet>
						<h:outputText value="#{booking.bookingStatusDesc}" />
					</h:column>
				</rich:dataTable>

				<rich:spacer height="10" />

				<rich:datascroller for="listBooking" maxPages="10" />

			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>
