<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="body">
		<h:form id="form">
			<h:inputHidden value="#{staffBean.editMode}" />
			<h:inputHidden value="#{staffBean.staff.staffCode}" />
			<h:inputHidden value="#{staffBean.staff.state}" />
			<h:inputHidden value="#{staffBean.staff.createdBy}" />
			<h:inputHidden value="#{staffBean.staff.changedBy}" />
			<h:inputHidden value="#{staffBean.staff.createdOn}">
				<f:convertDateTime type="both" dateStyle="full" />
			</h:inputHidden>

			<rich:panel style="width:815px;">

				<f:facet name="header">
					<h:outputText value="#{staffBean.staffHeader}" />
				</f:facet>

				<h:messages style="color:darkred" />
				
					<h:outputLabel for="mandatory">
						<h:outputText value="*" style="color:red" />
						<h:outputText value="#{msg.mandatoryField}:" />
					</h:outputLabel>				

				<h:panelGrid columns="2">

					<h:outputLabel>
						<h:outputText value="#{msg.staffName}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{staffBean.staff.name}" size="20"
						maxlength="25" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredStaffName}" />

					<h:outputLabel>
						<h:outputText value="#{msg.staffAddr}:" />
					</h:outputLabel>
					<h:inputText value="#{staffBean.staff.addressLine1}" size="50"
						maxlength="50" />
					<rich:spacer width="5" />
					<h:inputText value="#{staffBean.staff.addressLine2}" size="45"
						maxlength="45" />

					<h:outputLabel>
						<h:outputText value="#{msg.staffHp}:" />
					</h:outputLabel>
					<h:inputText value="#{staffBean.staff.hpTel}" size="15"
						maxlength="25" />

					<h:outputLabel>
						<h:outputText value="#{msg.staffWorkTel}:" />
					</h:outputLabel>
					<h:inputText value="#{staffBean.staff.workTel}" size="15"
						maxlength="25" />

					<h:outputLabel>
						<h:outputText value="#{msg.staffEmail}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{staffBean.staff.email}" size="15"
						maxlength="25" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredStaffEmail}">
						<f:validator validatorId="f2ms.EmailValidator" />
					</h:inputText>

					<h:outputLabel>
						<h:outputText value="#{msg.staffDesignation}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{staffBean.staff.designation}" size="30"
						maxlength="45" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredStaffDesignation}" />

				</h:panelGrid>

				<h:commandButton value="#{msg.btnSave}" id="save"
					action="#{staffBean.save}" />
				<h:commandButton value="#{msg.btnReset}" id="cancel" type="reset" />
			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>
