<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="body">
		<h:form id="form">
			<h:inputHidden value="#{pickupOrderBean.editMode}" />
			<h:inputHidden value="#{pickupOrderBean.pickupOrder.id}" />
			<h:inputHidden value="#{pickupOrderBean.pickupOrder.state}" />
			<h:inputHidden value="#{pickupOrderBean.pickupOrder.createdBy}" />
			<h:inputHidden value="#{pickupOrderBean.pickupOrder.changedBy}" />
			<h:inputHidden value="#{pickupOrderBean.pickupOrder.createdOn}">
				<f:convertDateTime type="both" dateStyle="full" />
			</h:inputHidden>

			<rich:panel style="width:815px;">

				<f:facet name="header">
					<h:outputText value="#{pickupOrderBean.pickupOrderHeader}" />
				</f:facet>

				<h:messages style="color:darkred" />
				
					<h:outputLabel for="mandatory">
						<h:outputText value="*" style="color:red" />
						<h:outputText value="#{msg.mandatoryField}:" />
					</h:outputLabel>				

				<h:panelGrid columns="2">

					<h:outputText value="#{msg.pickupOrderNo}:"
						rendered="#{pickupOrderBean.editMode == true}" />
					<h:outputText value="#{pickupOrderBean.pickupOrder.docNo}"
						rendered="#{pickupOrderBean.editMode == true}" />


					<h:outputLabel for="pickupOrderDate">
						<h:outputText value="#{msg.pickupOrderDate}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<rich:calendar value="#{pickupOrderBean.pickupOrder.pickupDate}"
						required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredPickupOrderDate}"
						datePattern="dd-MMM-yyyy">
					</rich:calendar>

					<h:outputLabel for="pickupOrderBookingNo">
						<h:outputText value="#{msg.pickupOrderBookingNo}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{pickupOrderBean.pickupOrder.bookingNo}"
						id="bookingInput" size="25" maxlength="100"
						required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredPickupOrderBookingNo}" />

					<rich:suggestionbox for="bookingInput"
						suggestionAction="#{pickupOrderBean.suggestBooking}" var="booking"
						minChars="3" nothingLabel="No entry found">
						<h:column>
							#{booking.docNo}       					
       					</h:column>
						<h:column>
							#{booking.consigneeName}       					
       					</h:column>
						<a4j:support ajaxSingle="true" event="onselect"
							reRender="bookingDocNo">
							<f:setPropertyActionListener value="#{booking.docNo}"
								target="#{pickupOrderBean.pickupOrder.bookingNo}" />
						</a4j:support>
					</rich:suggestionbox>
					<h:inputHidden value="#{pickupOrderBean.pickupOrder.bookingNo}"
						id="bookingDocNo" />

					<h:outputLabel for="pickupOrderMode">
						<h:outputText value="#{msg.pickupOrderMode}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:selectOneMenu value="#{pickupOrderBean.pickupOrder.mode}"
						required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredPickupOrderMode}"
						style=" width : 120px;">
						<f:selectItem itemValue="" itemLabel="#{msg.select}" />
						<f:selectItems value="#{pickupOrderBean.pickupModeList}" />
					</h:selectOneMenu>


					<h:outputLabel for="pickupOrderTrucker">
						<h:outputText value="#{msg.pickupOrderTrucker}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{pickupOrderBean.pickupOrder.truckerName}"
						id="truckerInput" size="25" maxlength="100"
						required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredTrucker}" />

					<rich:suggestionbox for="truckerInput"
						suggestionAction="#{customerBean.suggest}" var="cust" minChars="3"
						nothingLabel="No entry found">
						<h:column>
							#{cust.name}       					
       					</h:column>
						<h:column>
							#{cust.idNo}       					
       					</h:column>
						<a4j:support ajaxSingle="true" event="onselect"
							reRender="truckerId">
							<f:setPropertyActionListener value="#{cust.custCode}"
								target="#{pickupOrderBean.pickupOrder.truckerId}" />
						</a4j:support>
					</rich:suggestionbox>
					<h:inputHidden value="#{pickupOrderBean.pickupOrder.truckerId}"
						id="truckerId" />


					<h:outputLabel for="pickupOrderWarehouse">
						<h:outputText value="#{msg.pickupOrderWarehouse}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{pickupOrderBean.pickupOrder.warehouseName}"
						id="warehouseInput" size="25" maxlength="100"
						required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredWarehouse}" />

					<rich:suggestionbox for="warehouseInput"
						suggestionAction="#{warehouseBean.suggest}" var="warehouse"
						minChars="3" nothingLabel="No entry found">
						<h:column>
							#{warehouse.code}       					
       					</h:column>
						<h:column>
							#{warehouse.description}       					
       					</h:column>
						<a4j:support ajaxSingle="true" event="onselect"
							reRender="warehouseId">
							<f:setPropertyActionListener value="#{warehouse.id}"
								target="#{pickupOrderBean.pickupOrder.warehouseId}" />
						</a4j:support>
					</rich:suggestionbox>
					<h:inputHidden value="#{pickupOrderBean.pickupOrder.warehouseId}"
						id="warehouseId" />


					<h:outputLabel for="pickupOrderStatus">
						<h:outputText value="#{msg.pickupOrderStatus}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:selectOneMenu value="#{pickupOrderBean.pickupOrder.status}"
						required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredPickupOrderStatus}"
						style="width:100px">
						<f:selectItem itemValue="" itemLabel="#{msg.select}" />
						<f:selectItems value="#{pickupOrderBean.documentStatusList}" />
					</h:selectOneMenu>

					<h:outputLabel for="pickupOrderStatusReason">
						<h:outputText value="#{msg.pickupOrderStatusReason}:" />
					</h:outputLabel>
					<h:inputText id="statusReason"
						value="#{pickupOrderBean.pickupOrder.statusReason}" size="50"
						maxlength="30" />

					<h:outputText value="#{msg.pickupOrderRemarks}:" />
					<h:inputTextarea value="#{pickupOrderBean.pickupOrder.remarks}"
						cols="50" rows="3" />

				</h:panelGrid>

				<h:inputHidden value="#{pickupOrderBean.pickupOrder.docNo}"
					id="docNo" />
				<h:commandButton value="#{msg.btnSave}" id="save"
					action="#{pickupOrderBean.save}" />
				<h:commandButton value="#{msg.btnReset}" id="cancel" type="reset" />
			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>
