<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="body">
		<h:form>
			<rich:panel style="width:815px;">
				<f:facet name="header">
					<h:outputText value="#{msg.searchPickupOrderHeader}"></h:outputText>
				</f:facet>

				<h:panelGrid columns="2">
					<h:outputText value="#{msg.pickupOrderNo}:" />
					<h:inputText value="#{pickupOrderBean.docNo}" size="20" />

					<h:outputLabel>
						<h:outputText value="#{msg.pickupOrderDate}:" />
					</h:outputLabel>
					<rich:calendar value="#{pickupOrderBean.pickupOrder.pickupDate}"
						required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredPickupOrderDate}"
						datePattern="dd-MMM-yyyy">
					</rich:calendar>

					<h:outputText value="#{msg.pickupOrderStatus}:" />
					<h:selectOneMenu value="#{pickupOrderBean.status}">
						<f:selectItem itemValue="" itemLabel="#{msg.select}" />
						<f:selectItems value="#{pickupOrderBean.documentStatusList}" />
					</h:selectOneMenu>

				</h:panelGrid>

				<h:panelGrid>
					<h:panelGroup>
						<rich:spacer height="15" />
						<h:commandButton value="#{msg.btnSearch}"
							action="#{pickupOrderBean.search}" />
						<h:commandButton value="#{msg.btnReset}" type="reset" />
						<h:commandButton value="#{msg.btnAddPickupOrder}"
							action="#{pickupOrderBean.create}" />
						<rich:spacer height="15" width="50" />
					</h:panelGroup>
				</h:panelGrid>

				<rich:spacer height="10" />

				<rich:dataTable value="#{pickupOrderBean.listResult}"
					id="listPickupOrder" var="pickupOrder" rowKeyVar="row"
					style="width:795px;" rows="10">
					<rich:column style="width:5px;">
						<f:facet name="header">
							<h:outputText value="#{msg.no}" />
						</f:facet>
						<h:outputText value="#{row+1}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.pickupOrderNo}" />
						</f:facet>
						<h:commandLink action="#{pickupOrderBean.edit}">
							<h:outputText value="#{pickupOrder.docNo}" />
							<f:param name="id" value="#{pickupOrder.id}" />
						</h:commandLink>
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.pickupOrderDate}" />
						</f:facet>
						<h:outputText value="#{pickupOrder.pickupDate}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.pickupOrderStatus}" />
						</f:facet>
						<h:outputText value="#{pickupOrder.statusReason}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.pickupOrderRemarks}" />
						</f:facet>
						<h:outputText value="#{pickupOrder.remarks}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="" />
						</f:facet>
						<h:commandLink value="#{msg.btnPrint}"
							action="#{pickupOrderBean.print}">
							<f:param name="id" value="#{pickupOrder.id}" />
						</h:commandLink>
					</rich:column>
				</rich:dataTable>

				<rich:spacer height="10" />

				<rich:datascroller for="listPickupOrder" maxPages="10" />
			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>

