<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="body">
		<h:form id="form">
			<h:inputHidden value="#{warehouseBean.editMode}" />
			<h:inputHidden value="#{warehouseBean.warehouse.id}" />
			<h:inputHidden value="#{warehouseBean.warehouse.state}" />
			<h:inputHidden value="#{warehouseBean.warehouse.createdBy}" />
			<h:inputHidden value="#{warehouseBean.warehouse.changedBy}" />
			<h:inputHidden value="#{warehouseBean.warehouse.createdOn}">
				<f:convertDateTime type="both" dateStyle="full" />
			</h:inputHidden>

			<rich:panel style="width:815px;">

				<f:facet name="header">
					<h:outputText value="#{warehouseBean.warehouseHeader}" />
				</f:facet>

				<h:messages style="color:darkred" />

				
					<h:outputLabel for="mandatory">
						<h:outputText value="*" style="color:red" />
						<h:outputText value="#{msg.mandatoryField}:" />
					</h:outputLabel>				

				<h:panelGrid columns="2">

					<h:outputLabel>
						<h:outputText value="#{msg.warehouseCode}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{warehouseBean.warehouse.code}" size="10"
						maxlength="20" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredWarehouseCode}" />

					<h:outputLabel>
						<h:outputText value="#{msg.warehouseDescription}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{warehouseBean.warehouse.description}"
						size="50" maxlength="50" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredWarehouseDescription}" />

					<h:outputLabel>
						<h:outputText value="#{msg.warehouseAddress}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputTextarea value="#{warehouseBean.warehouse.address}"
						cols="50" rows="3" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredWarehouseAddress}" />					

					<h:outputLabel>
						<h:outputText value="#{msg.warehouseStatus}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:selectOneMenu value="#{warehouseBean.warehouse.status}"
						required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredWarehouseStatus}">
						<f:selectItem itemValue="" itemLabel="#{msg.select}" />
						<f:selectItems value="#{warehouseBean.statusList}" />
					</h:selectOneMenu>

					<h:outputText value="#{msg.warehouseRemarks}:" />
					<h:inputTextarea value="#{warehouseBean.warehouse.remarks}"
						cols="50" rows="3" />

				</h:panelGrid>

				<h:commandButton value="#{msg.btnSave}" id="save"
					action="#{warehouseBean.save}" />
				<h:commandButton value="#{msg.btnReset}" id="cancel" type="reset" />
			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>
