<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="body">
		<h:form>
			<rich:panel style="width:815px;">
				<f:facet name="header">
					<h:outputText value="#{msg.searchWarehouseHeader}"></h:outputText>
				</f:facet>

				<h:panelGrid columns="2">
					<h:outputText value="#{msg.warehouseCode}:" />
					<h:inputText value="#{warehouseBean.code}" size="10" maxlength="20" />

					<h:outputText value="#{msg.warehouseDescription}:" />
					<h:inputText value="#{warehouseBean.description}" size="50" />

					<h:outputText value="#{msg.warehouseStatus}:" />
					<h:selectOneMenu value="#{warehouseBean.status}">
						<f:selectItem itemValue="" itemLabel="#{msg.select}" />
						<f:selectItems value="#{warehouseBean.statusList}" />
					</h:selectOneMenu>

					<h:outputText value="#{msg.warehouseAddress}:" />
					<h:inputText value="#{warehouseBean.address}" size="50" />
				</h:panelGrid>

				<h:panelGrid>
					<h:panelGroup>
						<rich:spacer height="15" />
						<h:commandButton value="#{msg.btnSearch}"
							action="#{warehouseBean.search}" />
						<h:commandButton value="#{msg.btnReset}" type="reset" />
						<h:commandButton value="#{msg.btnAddWarehouse}"
							action="#{warehouseBean.create}" />
						<rich:spacer height="15" width="50" />
					</h:panelGroup>
				</h:panelGrid>

				<rich:spacer height="10" />

				<rich:dataTable value="#{warehouseBean.listResult}"
					id="listWarehouse" var="warehouse" rowKeyVar="row"
					style="width:795px;" rows="10">
					<rich:column style="width:5px;">
						<f:facet name="header">
							<h:outputText value="#{msg.no}" />
						</f:facet>
						<h:outputText value="#{row+1}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.warehouseCode}" />
						</f:facet>
						<h:commandLink action="#{warehouseBean.edit}">
							<h:outputText value="#{warehouse.code}" />
							<f:param name="id" value="#{warehouse.id}" />
						</h:commandLink>
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.warehouseDescription}" />
						</f:facet>
						<h:outputText value="#{warehouse.description}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.warehouseStatus}" />
						</f:facet>
						<h:outputText value="#{warehouse.statusDescription}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.warehouseAddress}" />
						</f:facet>
						<h:outputText value="#{warehouse.address}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.warehouseRemarks}" />
						</f:facet>
						<h:outputText value="#{warehouse.remarks}" />
					</rich:column>
				</rich:dataTable>

				<rich:spacer height="10" />

				<rich:datascroller for="listWarehouse" maxPages="10" />
			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>

