<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:s="http://jboss.com/products/seam/taglib">

	<ui:define name="body">
		<h:form id="form">
			<h:inputHidden value="#{receiveOrderBean.editMode}" />
			<h:inputHidden value="#{receiveOrderBean.receiveOrder.id}" />
			<h:inputHidden value="#{receiveOrderBean.receiveOrder.state}" />
			<h:inputHidden value="#{receiveOrderBean.receiveOrder.createdBy}" />
			<h:inputHidden value="#{receiveOrderBean.receiveOrder.changedBy}" />
			<h:inputHidden value="#{receiveOrderBean.receiveOrder.createdOn}">
				<f:convertDateTime type="both" dateStyle="full" />
			</h:inputHidden>

			<rich:panel style="width:815px;">

				<f:facet name="header">
					<h:outputText value="#{receiveOrderBean.receiveOrderHeader}" />
				</f:facet>

				<h:messages style="color:darkred" />

					<h:outputLabel for="mandatory">
						<h:outputText value="*" style="color:red" />
						<h:outputText value="#{msg.mandatoryField}:" />
					</h:outputLabel>
					
				<h:panelGrid columns="2" title="#{msg.receiveOrderDetails}">


					<h:outputText value="#{msg.receiveOrderNo}:"
						rendered="#{receiveOrderBean.editMode == true}" />
					<h:outputText value="#{receiveOrderBean.receiveOrder.docNo}"
						rendered="#{receiveOrderBean.editMode == true}" />


					<h:outputLabel for="receiveOrderBookingNo">
						<h:outputText value="#{msg.receiveOrderBookingNo}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{receiveOrderBean.receiveOrder.booking.docNo}"
						id="bookingInput" size="25" maxlength="100"
						required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredReceiveOrderBookingNo}" />

					<rich:suggestionbox for="bookingInput"
						suggestionAction="#{bookingBean.suggest}" var="booking"
						minChars="3" nothingLabel="No entry found">
						<h:column>
                            #{booking.docNo}
                        </h:column>
						<h:column>
                            #{booking.consigneeName}
                        </h:column>
						<a4j:support ajaxSingle="true" event="onselect"
							reRender="bookingDocNo">
							<f:setPropertyActionListener value="#{booking.docNo}"
								target="#{receiveOrderBean.receiveOrder.booking.docNo}" />
						</a4j:support>
					</rich:suggestionbox>
					<h:inputHidden
						value="#{receiveOrderBean.receiveOrder.booking.docNo}"
						id="bookingDocNo" />

					<h:outputLabel for="receiveOrderDate">
						<h:outputText value="#{msg.receiveOrderDate}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<rich:calendar value="#{receiveOrderBean.receiveOrder.docDate}"
						required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredReceiveOrderDate}"
						datePattern="dd-MMM-yyyy">
					</rich:calendar>

					<h:outputLabel for="receiveOrderFrom">
						<h:outputText value="#{msg.receiveOrderReceivedFrom}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText
						value="#{receiveOrderBean.receiveOrder.receivedFrom.name}"
						id="receivedFromName" maxlength="100"
						required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredReceiveOrderReceivedFrom}" />
					<rich:suggestionbox for="receivedFromName"
						suggestionAction="#{customerBean.suggest}" var="cust" minChars="3"
						nothingLabel="No entry found">
						<h:column>
                            #{cust.name}
                        </h:column>
						<h:column>
                            #{cust.idNo}
                        </h:column>
						<a4j:support ajaxSingle="true" event="onselect"
							reRender="receivedFrom">
							<f:setPropertyActionListener value="#{cust.custCode}"
								target="#{receiveOrderBean.receiveOrder.receivedFrom.custCode}" />
						</a4j:support>
					</rich:suggestionbox>
					<h:inputHidden
						value="#{receiveOrderBean.receiveOrder.receivedFrom.custCode}"
						id="receivedFrom" />

					<h:outputLabel for="receiveOrderBy">
						<h:outputText value="#{msg.receiveOrderReceivedBy}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText
						value="#{receiveOrderBean.receiveOrder.receivedBy.name}"
						id="receivedByName" maxlength="100"
						required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredReceiveOrderReceivedBy}" />
					<rich:suggestionbox for="receivedByName"
						suggestionAction="#{customerBean.suggest}" var="cust" minChars="3"
						nothingLabel="No entry found">
						<h:column>
                            #{cust.name}
                        </h:column>
						<h:column>
                            #{cust.idNo}
                        </h:column>
						<a4j:support ajaxSingle="true" event="onselect"
							reRender="receivedBy">
							<f:setPropertyActionListener value="#{cust.custCode}"
								target="#{receiveOrderBean.receiveOrder.receivedBy.custCode}" />
						</a4j:support>
					</rich:suggestionbox>
					<h:inputHidden
						value="#{receiveOrderBean.receiveOrder.receivedBy.custCode}"
						id="receivedBy" />

					<h:outputText value="#{msg.receiveOrderDescription}:" />
					<h:inputTextarea
						value="#{receiveOrderBean.receiveOrder.description}" cols="50"
						rows="3" />



					<h:outputLabel for="receiveOrderShipperRefNo">
						<h:outputText value="#{msg.receiveOrderShipperReferenceNo}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText id="shipperReferenceNo"
						value="#{receiveOrderBean.receiveOrder.shipperReferenceNo}"
						size="18" maxlength="18" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredReceiveOrderShipperReferenceNo}" />

					<h:outputLabel for="receiveOrderDeliverTo">
						<h:outputText value="#{msg.receiveOrderDeliveredTo}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText
						value="#{receiveOrderBean.receiveOrder.deliveredTo.name}"
						id="deliveredToName" maxlength="100"
						required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredReceiveOrderDeliveredTo}" />
					<rich:suggestionbox for="deliveredToName"
						suggestionAction="#{customerBean.suggest}" var="cust" minChars="3"
						nothingLabel="No entry found">
						<h:column>
                            #{cust.name}
                        </h:column>
						<h:column>
                            #{cust.idNo}
                        </h:column>
						<a4j:support ajaxSingle="true" event="onselect"
							reRender="deliveredTo">
							<f:setPropertyActionListener value="#{cust.custCode}"
								target="#{receiveOrderBean.receiveOrder.deliveredTo.custCode}" />
						</a4j:support>
					</rich:suggestionbox>
					<h:inputHidden
						value="#{receiveOrderBean.receiveOrder.deliveredTo.custCode}"
						id="deliveredTo" />


					<h:outputLabel for="receiveOrderDeliverAddressLine">
						<h:outputText value="#{msg.receiveOrderDeliveredAddressLine}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputTextarea
						value="#{receiveOrderBean.receiveOrder.deliveredAddressLine}"
						cols="50" rows="3" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredReceiveOrderAddressLine}" />

					<h:outputLabel>
						<h:outputText value="#{msg.receiveOrderQuantity}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText id="quantity"
						value="#{receiveOrderBean.receiveOrder.quantity}" size="18"
						maxlength="18" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredReceiveOrderQuantity}" />

					<h:outputLabel for="receiveOrderMarking">
						<h:outputText value="#{msg.receiveOrderMarking}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText id="marking"
						value="#{receiveOrderBean.receiveOrder.marking}" size="18"
						maxlength="18" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredReceiveOrderMarking}" />

					<h:outputLabel for="receiveOrderStatus">
						<h:outputText value="#{msg.receiveOrderStatus}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:selectOneMenu value="#{receiveOrderBean.receiveOrder.status}"
						required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredReceiveOrderStatus}"
						style="width:100px">
						<f:selectItem itemValue="" itemLabel="#{msg.select}" />
						<f:selectItems value="#{receiveOrderBean.documentStatusList}" />
					</h:selectOneMenu>

					<h:outputLabel for="receiveOrderStatusReason">
						<h:outputText value="#{msg.receiveOrderStatusReason}:" />
					</h:outputLabel>
					<h:inputText value="#{receiveOrderBean.receiveOrder.statusReason}"
						size="50" maxlength="30"  />

					<h:outputText value="#{msg.receiveOrderRemarks}:" />
					<h:inputTextarea value="#{receiveOrderBean.receiveOrder.remarks}"
						cols="50" rows="3" />

				</h:panelGrid>

				<h:panelGrid columns="6" title="#{msg.receiveOrderMeasurement}">

					<h:outputLabel for="receiveOrderHeight">
						<h:outputText value="#{msg.receiveOrderHeight}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText id="height"
						value="#{receiveOrderBean.receiveOrder.height}" size="18"
						maxlength="18" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredReceiveOrderHeight}" />

					<h:outputLabel for="receiveOrderLength">
						<h:outputText value="#{msg.receiveOrderLength}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText id="length"
						value="#{receiveOrderBean.receiveOrder.length}" size="18"
						maxlength="18" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredReceiveOrderLength}" />

					<h:outputLabel for="receiveOrderWidth">
						<h:outputText value="#{msg.receiveOrderWidth}" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText id="width"
						value="#{receiveOrderBean.receiveOrder.width}" size="18"
						maxlength="18" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredReceiveOrderWidth}" />

					<h:outputLabel for="receiveOrderVolume">
						<h:outputText value="#{msg.receiveOrderVolume}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText id="volume"
						value="#{receiveOrderBean.receiveOrder.volume}" size="18"
						maxlength="18" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredReceiveOrderVolume}" />

					<h:outputLabel for="receiveOrderWeight">
						<h:outputText value="#{msg.receiveOrderWeight}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText id="weight"
						value="#{receiveOrderBean.receiveOrder.weight}" size="18"
						maxlength="18" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredReceiveOrderWeight}" />
				</h:panelGrid>

				<h:inputHidden value="#{receiveOrderBean.receiveOrder.docNo}"
					id="docNo" />

				<h:commandButton value="#{msg.btnSave}" id="save"
					action="#{receiveOrderBean.save}" />
				<h:commandButton value="#{msg.btnReset}" id="cancel" type="reset" />
			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>
