<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="body">
		<h:form>
			<rich:panel style="width:815px;">
				<f:facet name="header">
					<h:outputText value="#{msg.searchReceiveOrderHeader}" />
				</f:facet>

				<h:panelGrid columns="2">
					<h:outputText value="#{msg.receiveOrderNo}:" />
					<h:inputText value="#{receiveOrderBean.docNo}" size="20" />

					<h:outputLabel for="receiveOrderDate">
						<h:outputText value="#{msg.receiveOrderDate}:" />
					</h:outputLabel>
					<rich:calendar value="#{receiveOrderBean.receiveOrder.docDate}"
						required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredReceiveOrderDate}"
						datePattern="dd-MMM-yyyy">
					</rich:calendar>

					<h:outputText value="#{msg.receiveOrderStatus}:" />
					<h:selectOneMenu value="#{receiveOrderBean.status}">
						<f:selectItem itemValue="" itemLabel="#{msg.select}" />
						<f:selectItems value="#{receiveOrderBean.documentStatusList}" />
					</h:selectOneMenu>

				</h:panelGrid>

				<h:panelGrid>
					<h:panelGroup>
						<rich:spacer height="15" />
						<h:commandButton value="#{msg.btnSearch}"
							action="#{receiveOrderBean.search}" />
						<h:commandButton value="#{msg.btnReset}" type="reset" />
						<h:commandButton value="#{msg.btnAddReceiveOrder}"
							action="#{receiveOrderBean.create}" />
						<rich:spacer height="15" width="50" />
					</h:panelGroup>
				</h:panelGrid>

				<rich:spacer height="10" />

				<rich:dataTable value="#{receiveOrderBean.listResult}"
					id="listReceiveOrder" var="receiveOrder" rowKeyVar="row"
					style="width:795px;" rows="10">
					<rich:column style="width:5px;">
						<f:facet name="header">
							<h:outputText value="#{msg.no}" />
						</f:facet>
						<h:outputText value="#{row+1}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.receiveOrderNo}" />
						</f:facet>
						<h:commandLink action="#{receiveOrderBean.edit}">
							<h:outputText value="#{receiveOrder.docNo}" />
							<f:param name="id" value="#{receiveOrder.id}" />
						</h:commandLink>
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.receiveOrderDate}" />
						</f:facet>
						<h:outputText value="#{receiveOrder.docDate}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.receiveOrderStatus}" />
						</f:facet>
						<h:outputText value="#{receiveOrder.statusReason}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.receiveOrderRemarks}" />
						</f:facet>
						<h:outputText value="#{receiveOrder.remarks}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="" />
						</f:facet>
						<h:commandLink value="#{msg.btnPrint}"
							action="#{receiveOrderBean.print}">
							<f:param name="id" value="#{receiveOrder.id}" />
						</h:commandLink>
					</rich:column>
				</rich:dataTable>

				<rich:spacer height="10" />

				<rich:datascroller for="listReceiveOrder" maxPages="10" />
			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>

