<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="body">
		<h:form id="form">
			<h:inputHidden value="#{chargesBean.editMode}" />
			<h:inputHidden value="#{chargesBean.charges.id}" />
			<h:inputHidden value="#{chargesBean.charges.state}" />
			<h:inputHidden value="#{chargesBean.charges.createdBy}" />
			<h:inputHidden value="#{chargesBean.charges.changedBy}" />
			<h:inputHidden value="#{chargesBean.charges.createdOn}">
				<f:convertDateTime type="both" dateStyle="full" />
			</h:inputHidden>

			<rich:panel style="width:815px;">

				<f:facet name="header">
					<h:outputText value="#{chargesBean.chargesHeader}" />
				</f:facet>

				<h:messages style="color:darkred" />
				
					<h:outputLabel for="mandatory">
						<h:outputText value="*" style="color:red" />
						<h:outputText value="#{msg.mandatoryField}:" />
					</h:outputLabel>				

				<h:panelGrid columns="2">
					<h:outputLabel for="chargesType">
						<h:outputText value="#{msg.chargesType}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:selectOneMenu value="#{chargesBean.charges.chargeType}"
						required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredChargesType}">
						<f:selectItem itemValue="" itemLabel="#{msg.select}" />
						<f:selectItems value="#{chargesBean.chargesTypeList}" />
					</h:selectOneMenu>

					<h:outputLabel for="chargeDescription">
						<h:outputText value="#{msg.chargesDesc}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{chargesBean.charges.description}" size="100"
						maxlength="20" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredChargesDesc}" />

					<h:outputLabel for="chargesFee">
						<h:outputText value="#{msg.chargesFee}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{chargesBean.charges.fee}" size="100"
						maxlength="15" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredChargesFee}" />

					<h:outputLabel for="chargesEffDate">
						<h:outputText value="#{msg.chargesEffDate}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<rich:calendar value="#{chargesBean.charges.effectiveDate}"
						required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredChargesEffDate}"
						datePattern="dd-MMM-yyyy">
					</rich:calendar>

					<h:outputLabel for="chargesExpDate">
						<h:outputText value="#{msg.chargesExpDate}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<rich:calendar value="#{chargesBean.charges.expiryDate}"
						required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredChargesExpDate}"
						datePattern="dd-MMM-yyyy">
					</rich:calendar>

					<h:outputLabel for="chargesRemarks">
						<h:outputText value="#{msg.chargesRemarks}:" />
					</h:outputLabel>
					<h:inputTextarea value="#{chargesBean.charges.remarks}" cols="50"
						rows="3" />

					<h:outputLabel for="chargesStatus">
						<h:outputText value="#{msg.chargesStatus}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:selectOneMenu value="#{chargesBean.charges.status}"
						required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredChargesStatus}">
						<f:selectItem itemValue="" itemLabel="#{msg.select}" />
						<f:selectItems value="#{chargesBean.chargesStatusList}" />
					</h:selectOneMenu>

				</h:panelGrid>

				<h:commandButton value="#{msg.btnSave}" id="save"
					action="#{chargesBean.save}" />
				<h:commandButton value="#{msg.btnReset}" id="cancel" type="reset" />
			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>
