<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="body">
		<h:form>
			<rich:panel style="width:815px;">
				<f:facet name="header">
					<h:outputText value="#{msg.searchChargesHeader}"></h:outputText>
				</f:facet>

				<h:panelGrid columns="2">
					<h:outputText value="#{msg.chargesType}:" />
					<h:selectOneMenu value="#{chargesBean.chargesType}">
						<f:selectItem itemValue="" itemLabel="#{msg.select}" />
						<f:selectItems value="#{chargesBean.chargesTypeList}" />
					</h:selectOneMenu>

					<h:outputText value="#{msg.chargesDesc}:" />
					<h:inputText value="#{chargesBean.chargesDesc}" size="20" />

					<h:outputText value="#{msg.chargesStatus}:" />
					<h:selectOneMenu value="#{chargesBean.chargesStatus}">
						<f:selectItem itemValue="" itemLabel="#{msg.select}" />
						<f:selectItems value="#{chargesBean.chargesStatusList}" />
					</h:selectOneMenu>
				</h:panelGrid>

				<h:panelGrid>
					<h:panelGroup>
						<rich:spacer height="15" />
						<h:commandButton value="#{msg.btnSearch}"
							action="#{chargesBean.search}" />
						<h:commandButton value="#{msg.btnReset}" type="reset" />
						<h:commandButton value="#{msg.btnAddCharges}"
							action="#{chargesBean.create}" />
						<rich:spacer height="15" width="50" />
					</h:panelGroup>
				</h:panelGrid>

				<rich:spacer height="10" />

				<rich:dataTable value="#{chargesBean.listResult}" id="listCharges"
					var="charge" rowKeyVar="row" style="width:795px;" rows="10">
					<rich:column style="width:5px;">
						<f:facet name="header">
							<h:outputText value="#{msg.no}" />
						</f:facet>
						<h:outputText value="#{row+1}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.chargesType}" />
						</f:facet>
						<h:outputText value="#{charge.chargeTypeDesc}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.chargesDesc}" />
						</f:facet>
						<h:commandLink action="#{chargesBean.edit}">
							<h:outputText value="#{charge.description}" />							
							<f:param name="id" value="#{charge.id}" />							
						</h:commandLink>
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.chargesFee}" />
						</f:facet>
						<h:outputText value="#{charge.fee}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.chargesStatus}" />
						</f:facet>
						<h:outputText value="#{charge.chargeStatusDesc}" />
					</rich:column>
				</rich:dataTable>

				<rich:spacer height="10" />

				<rich:datascroller for="listCharges" maxPages="10" />
			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>

