<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml">

	<ui:define name="body">
		<h:form id="form">
			<rich:panel style="width:815px;">
				<f:facet name="header">
					<h:outputText value="#{msg.headerChangePassword}" />
				</f:facet>

				<h:messages style="color:darkred" />

				<h:panelGrid columns="2">
					<h:outputText value="#{msg.oldPassword}:" />
					<h:inputSecret id="oldPassword" value="#{loginBean.oldPassword}" autocomplete="off" maxlength="30"
						required="true" requiredMessage="#{msg.requiredOldPassword}" />					
					
					<h:outputText value="#{msg.newPassword}:" />
					<h:inputSecret id="newPassword" value="#{loginBean.newPassword}" autocomplete="off" maxlength="30"
						required="true" requiredMessage="#{msg.requiredNewPassword}" />					
					
					<h:outputText value="#{msg.confirmPassword}:" />
					<h:inputSecret id="confirmNewPassword" value="#{loginBean.confirmNewPassword}" autocomplete="off" maxlength="30"
						required="true" requiredMessage="#{msg.requiredConfirmNewPassword}" />																								
				</h:panelGrid>
				
				<h:commandButton value="#{msg.btnChangePassword}" id="btnChangePswd" action="#{loginBean.changePassword}" />
				
			</rich:panel>			
		</h:form>
	</ui:define>
</ui:composition>
