<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="body">
		<h:form id="form">
			<h:inputHidden value="#{shipmentModeBean.editMode}" />
			<h:inputHidden value="#{shipmentModeBean.shipmentMode.id}" />
			<h:inputHidden value="#{shipmentModeBean.shipmentMode.state}" />
			<h:inputHidden value="#{shipmentModeBean.shipmentMode.createdBy}" />
			<h:inputHidden value="#{shipmentModeBean.shipmentMode.changedBy}" />
			<h:inputHidden value="#{shipmentModeBean.shipmentMode.createdOn}">
				<f:convertDateTime type="both" dateStyle="full" />
			</h:inputHidden>

			<rich:panel style="width:815px;">

				<f:facet name="header">
					<h:outputText value="#{shipmentModeBean.shipmentModeHeader}" />
				</f:facet>

				<h:messages style="color:darkred" />
				
				
					<h:outputLabel for="mandatory">
						<h:outputText value="*" style="color:red" />
						<h:outputText value="#{msg.mandatoryField}:" />
					</h:outputLabel>
					
				<h:panelGrid columns="2">

					<h:outputLabel>
						<h:outputText value="#{msg.shipmentModeCode}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{shipmentModeBean.shipmentMode.code}" size="10"
						maxlength="20" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredShipmentModeCode}" />

					<h:outputLabel>
						<h:outputText value="#{msg.shipmentModeDescription}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{shipmentModeBean.shipmentMode.description}"
						size="50" maxlength="50" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredShipmentModeDescription}" />

					<h:outputLabel>
						<h:outputText value="#{msg.shipmentModeStatus}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:selectOneMenu value="#{shipmentModeBean.shipmentMode.status}"
						required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredShipmentModeStatus}">
						<f:selectItem itemValue="" itemLabel="#{msg.select}" />
						<f:selectItems value="#{shipmentModeBean.statusList}" />
					</h:selectOneMenu>

					<h:outputText value="#{msg.shipmentModeRemarks}:" />
					<h:inputTextarea value="#{shipmentModeBean.shipmentMode.remarks}"
						cols="50" rows="3" />

				</h:panelGrid>

				<h:commandButton value="#{msg.btnSave}" id="save"
					action="#{shipmentModeBean.save}" />
				<h:commandButton value="#{msg.btnReset}" id="cancel" type="reset" />
			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>
