<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core">

	<table bgcolor="#464646" width="1280" height="32" border="0"
		cellspacing="0" cellpadding="0">
		<c:choose>
			<c:when test="${dispMenu == 'true'}">
				<tr>
					<td width="222" bgcolor="#202020" align="left" valign="top"></td>
					<td width="3" bgcolor="#FFFFFF" align="right" valign="top"></td>
					<td width="10" align="left" valign="top"><h:graphicImage
						alt="shadow1" url="/images/shadow2.gif" height="32" width="10"
						border="0" /></td>
					<td width="1024" align="left" valign="top"><h:graphicImage
						alt="shadow1" url="/images/shadow2.gif" height="32" width="1024"
						border="0" /></td>
					<td width="22" align="left" valign="top"><h:graphicImage
						alt="shadow1" url="/images/shadow2.gif" height="32" width="22"
						border="0" /></td>
				</tr>
			</c:when>
			<c:otherwise>
				<tr>
					<td width="0" bgcolor="#202020" align="left" valign="top"></td>
					<td width="0" bgcolor="#FFFFFF" align="right" valign="top"></td>
					<td width="10" align="left" valign="top"><h:graphicImage
						alt="shadow1" url="/images/shadow2.gif" height="32" width="10"
						border="0" /></td>
					<td width="1260" align="left" valign="top"><h:graphicImage
						alt="shadow1" url="/images/shadow2.gif" height="32" width="1260"
						border="0" /></td>
					<td width="10" align="left" valign="top"><h:graphicImage
						alt="shadow1" url="/images/shadow2.gif" height="32" width="10"
						border="0" /></td>
				</tr>
			</c:otherwise>
		</c:choose>
	</table>

	<table bgcolor="#202020" width="1280" border="0" cellspacing="0"
		cellpadding="0">
		<tr>
			<td height="32" width="30" align="left" valign="middle"
				background="#{facesContext.externalContext.requestContextPath}/images/bluebg.gif">
			<h:graphicImage alt="pixel" url="/images/pixel.gif" height="1"
				width="5" /></td>
			<td height="32" width="1250" align="right" valign="middle"
				background="#{facesContext.externalContext.requestContextPath}/images/bluebg.gif"
				class="${skinBean.theme}">&nbsp;&copy; 2010 - Team Saturday 07
			&nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td height="32" align="right" valign="middle">&nbsp;</td>
		</tr>
	</table>


</ui:composition>
