<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<tr>
		<td height="32" align="right" valign="middle">&nbsp;</td>
	</tr>
	<tr>
		<td height="132" align="left" valign="middle"
			background="#{facesContext.externalContext.requestContextPath}/images/headerback.jpg"
			class="${skinBean.theme}"><h:graphicImage alt="pixel"
			url="/images/pixel.gif" height="1" width="15" /> <font size="5">F2MS</font><br></br>

		<h:graphicImage alt="pixel" url="/images/pixel.gif" height="1"
			width="15" /> Freight Forwarder Management System</td>
	</tr>
	<tr>
		<td height="10"></td>
	</tr>
</ui:composition>
