<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="template/main-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="body">
		<h:form id="loginForm" prependId="false">
			<rich:panel style="width:450px;">
				<f:facet name="header">
					<h:outputText value="#{msg.loginHeader}"></h:outputText>
				</f:facet>

				<h:panelGrid rendered="#{displayLoginError}">
					<h:outputText value="#{msg.errLogin}" style="color:red" />
				</h:panelGrid>

				<h:panelGrid columns="3">
					<h:outputText value="#{msg.username}:" />
					<h:inputText id="j_username" autocomplete="off" maxlength="30"
						required="true" requiredMessage="#{msg.requiredUserName}" />
					<h:message for="j_username" style="color:red" />

					<h:outputText value="#{msg.password}:" />
					<h:inputSecret id="j_password" autocomplete="off" maxlength="30"
						required="true" requiredMessage="#{msg.requiredPassword}" />
					<h:message for="j_password" style="color:red" />

				</h:panelGrid>
				<h:commandButton value="#{msg.btnSignIn}" id="login"
					action="#{loginBean.authenticate}" />
				<h:commandButton value="#{msg.btnReset}" type="reset" />
			</rich:panel>
		</h:form>
	</ui:define>
</ui:composition>
