<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core">

	<h:form>
		<tr>

			<td>
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td height="32" align="left" valign="middle"
						background="#{facesContext.externalContext.requestContextPath}/images/bluebg.gif">
					<h:graphicImage alt="pixel" url="/images/pixel.gif" height="1"
						width="15" /> <c:if test="${dispMenu == 'true'}">
						<h:outputText value="#{msg.welcome}"
							styleClass="#{skinBean.theme}" />
						<rich:spacer width="5" />
						<h:outputText value="#{username}" styleClass="#{skinBean.theme}" />
						<rich:spacer width="5" />
						<h:outputText value="|" styleClass="#{skinBean.theme}" />
						<rich:spacer width="5" />
						<h:commandLink action="#{loginBean.initChangePassword}">
							<h:outputText value="#{msg.changePassword}" />
						</h:commandLink>
						<rich:spacer width="5" />
						<h:outputText value="|" styleClass="#{skinBean.theme}" />
						<rich:spacer width="5" />
						<h:commandLink action="#{loginBean.logout}">
							<h:outputText value="#{msg.logout}" />
						</h:commandLink>
					</c:if></td>
					<td height="32" align="right" valign="middle"
						background="#{facesContext.externalContext.requestContextPath}/images/bluebg.gif">
					<h:commandLink action="#{languageBean.changeEnglish}">
						<h:graphicImage alt="English" url="/images/United-Kingdom-32.png"
							height="20" width="20" border="0" />
					</h:commandLink> <rich:spacer height="1" width="5" /> <h:commandLink
						action="#{languageBean.changeBahasa}">
						<h:graphicImage alt="Bahasa" url="/images/Indonesia-32.png"
							height="20" width="20" border="0" />
					</h:commandLink> <rich:spacer width="25" /></td>
				</tr>
			</table>
			</td>
		</tr>

	</h:form>

</ui:composition>
