<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core">

	<h:form>
		<table width="222" border="0" cellspacing="0" cellpadding="0"
			bgcolor="#202020">

			<c:if test="${isAdmin == true}">
				<tr>
					<td height="24" width="222" valign="middle"><rich:spacer
						width="10" /><b><h:outputText value="#{msg.adminMenu}"
						styleClass="#{skinBean.theme}" /></b></td>
				</tr>
				<tr>
					<td height="24" width="222" valign="middle"
						onmouseover="javascript:taust(this,'#0F363F')"
						onmouseout="javascript:taust(this,'#202020')"><rich:spacer
						width="10" /> <h:commandLink action="#{roleBean.search}">
						<h:outputText value="#{msg.searchRoleMenu}" />
					</h:commandLink></td>
				</tr>
				<tr>
					<td height="24" width="222" valign="middle"
						onmouseover="javascript:taust(this,'#0F363F')"
						onmouseout="javascript:taust(this,'#202020')"><rich:spacer
						width="10" /> <h:commandLink action="#{staffBean.search}">
						<h:outputText value="#{msg.searchStaffMenu}" />
					</h:commandLink></td>
				</tr>
				<tr>
					<td height="24" width="222" valign="middle"
						onmouseover="javascript:taust(this,'#0F363F')"
						onmouseout="javascript:taust(this,'#202020')"><rich:spacer
						width="10" /> <h:commandLink action="#{userBean.search}">
						<h:outputText value="#{msg.searchUserMenu}" />
					</h:commandLink></td>
				</tr>
				<tr>
					<td height="24" width="222" valign="middle"
						onmouseover="javascript:taust(this,'#0F363F')"
						onmouseout="javascript:taust(this,'#202020')"><rich:spacer
						width="10" /> <h:commandLink action="#{warehouseBean.search}">
						<h:outputText value="#{msg.searchWarehouseMenu}" />
					</h:commandLink></td>
				</tr>
				<tr>
					<td height="24" width="222" valign="middle"
						onmouseover="javascript:taust(this,'#0F363F')"
						onmouseout="javascript:taust(this,'#202020')"><rich:spacer
						width="10" /> <h:commandLink action="#{locationBean.search}">
						<h:outputText value="#{msg.searchLocationMenu}" />
					</h:commandLink></td>
				</tr>
				<tr>
					<td height="24" width="222" valign="middle"
						onmouseover="javascript:taust(this,'#0F363F')"
						onmouseout="javascript:taust(this,'#202020')"><rich:spacer
						width="10" /> <h:commandLink action="#{shipmentModeBean.search}">
						<h:outputText value="#{msg.searchShipmentModeMenu}" />
					</h:commandLink></td>
				</tr>
				<tr>
					<td height="24" width="222" valign="middle"
						onmouseover="javascript:taust(this,'#0F363F')"
						onmouseout="javascript:taust(this,'#202020')"><rich:spacer
						width="10" /> <h:commandLink action="#{cargoTypeBean.search}">
						<h:outputText value="#{msg.searchCargoTypeMenu}" />
					</h:commandLink></td>
				</tr>
				<tr>
					<td height="24" width="222" valign="middle"
						onmouseover="javascript:taust(this,'#0F363F')"
						onmouseout="javascript:taust(this,'#202020')"><rich:spacer
						width="10" /> <h:commandLink action="#{chargesBean.search}">
						<h:outputText value="#{msg.searchChargesMenu}" />
					</h:commandLink></td>
				</tr>
				<tr>
					<td width="222" height="3" bgcolor="#ffffff"></td>
				</tr>
			</c:if>

			<c:if test="${isStaff == true}">
				<!-- Customer Menu -->
				<tr>
					<td height="24" width="222" valign="middle"><rich:spacer
						width="10" /><b><h:outputText value="#{msg.applicationMenu}"
						styleClass="#{skinBean.theme}" /></b></td>
				</tr>
				<tr>
					<td height="24" width="222" valign="middle"
						onmouseover="javascript:taust(this,'#0F363F')"
						onmouseout="javascript:taust(this,'#202020')"><rich:spacer
						width="10" /> <h:commandLink action="#{customerBean.search}">
						<h:outputText value="#{msg.searchCustomerMenu}" />
					</h:commandLink></td>
				</tr>
				<tr>
					<td height="24" width="222" valign="middle"
						onmouseover="javascript:taust(this,'#0F363F')"
						onmouseout="javascript:taust(this,'#202020')"><rich:spacer
						width="10" /> <h:commandLink action="#{bookingBean.search}">
						<h:outputText value="#{msg.searchBookingMenu}" />
					</h:commandLink></td>
				</tr>

				<tr>
					<td height="24" width="222" valign="middle"
						onmouseover="javascript:taust(this,'#0F363F')"
						onmouseout="javascript:taust(this,'#202020')"><rich:spacer
						width="10" /> <h:commandLink action="#{pickupOrderBean.search}">
						<h:outputText value="#{msg.searchPickupOrderMenu}" />
					</h:commandLink></td>
				</tr>
				<tr>
					<td height="24" width="222" valign="middle"
						onmouseover="javascript:taust(this,'#0F363F')"
						onmouseout="javascript:taust(this,'#202020')"><rich:spacer
						width="10" /> <h:commandLink action="#{receiveOrderBean.search}">
						<h:outputText value="#{msg.searchReceiveOrderMenu}" />
					</h:commandLink></td>
				</tr>
				<tr>
					<td height="24" width="222" valign="middle"
						onmouseover="javascript:taust(this,'#0F363F')"
						onmouseout="javascript:taust(this,'#202020')"><rich:spacer
						width="10" /> <h:commandLink action="#{deliveryOrderBean.search}">
						<h:outputText value="#{msg.searchDOMenu}" />
					</h:commandLink></td>
				</tr>
				<tr>
					<td height="24" width="222" valign="middle"
						onmouseover="javascript:taust(this,'#0F363F')"
						onmouseout="javascript:taust(this,'#202020')"><rich:spacer
						width="10" /> <h:commandLink action="#{shipmentBean.search}">
						<h:outputText value="#{msg.searchShipmentMenu}" />
					</h:commandLink></td>
				</tr>				
				<tr>
					<td width="222" height="3" bgcolor="#ffffff"></td>
				</tr>											
			</c:if>
			
			<c:if test="${isStaff == true || isManager == true}">
				<tr>
					<td height="24" width="222" valign="middle"><rich:spacer
						width="10" /><b><h:outputText value="#{msg.reportMenu}"
						styleClass="#{skinBean.theme}" /></b></td>
				</tr>				
				<tr>
					<td height="24" width="222" valign="middle"
						onmouseover="javascript:taust(this,'#0F363F')"
						onmouseout="javascript:taust(this,'#202020')"><rich:spacer
						width="10" /> <h:commandLink action="#{dailyReportBean.init}">
						<h:outputText value="#{msg.dailyShipmentReportMenu}" />
					</h:commandLink></td>
				</tr>					
				<tr>
					<td width="222" height="3" bgcolor="#ffffff"></td>
				</tr>	
			</c:if>
		</table>
	</h:form>
</ui:composition>
