<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      template="template/menu-template.xhtml">
                  
      <ui:define name="body">           	      	      	      	                 
      	<h:form>
      		<h:commandLink target="blank" value="Print" action="#{testBean.print}"/>
      	</h:form>	      	 
      </ui:define>      
</ui:composition>      