<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="body">
		<h:form id="form">
			<h:inputHidden value="#{deliveryOrderBean.editMode}" />
			<h:inputHidden value="#{deliveryOrderBean.deliveryOrder.id}" />
			<h:inputHidden value="#{deliveryOrderBean.deliveryOrder.docNo}" />
			<h:inputHidden value="#{deliveryOrderBean.deliveryOrder.status}" />
			<h:inputHidden value="#{deliveryOrderBean.deliveryOrder.bookingNo}" />
			<h:inputHidden value="#{deliveryOrderBean.deliveryOrder.state}" />
			<h:inputHidden value="#{deliveryOrderBean.deliveryOrder.createdBy}" />
			<h:inputHidden value="#{deliveryOrderBean.deliveryOrder.changedBy}" />
			<h:inputHidden value="#{deliveryOrderBean.deliveryOrder.createdOn}">
				<f:convertDateTime type="both" dateStyle="full" />
			</h:inputHidden>

			<rich:panel style="width:815px;">

				<f:facet name="header">
					<h:outputText value="#{deliveryOrderBean.deliveryOrderHeader}" />
				</f:facet>

				<h:messages style="color:darkred" />
				
					<h:outputLabel for="mandatory">
						<h:outputText value="*" style="color:red" />
						<h:outputText value="#{msg.mandatoryField}:" />
					</h:outputLabel>				

				<h:panelGrid columns="2">

					<h:outputLabel for="doBookingNo">
						<h:outputText value="#{msg.doBookingNo}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{deliveryOrderBean.deliveryOrder.bookingNo}"
						size="25" maxlength="20" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredBookingNo}" />
						
					<h:outputLabel for="doTrucker">
						<h:outputText value="#{msg.doTrucker}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{deliveryOrderBean.deliveryOrder.truckerName}"
						id="truckerInput" size="25" maxlength="100"/>

					<rich:suggestionbox for="truckerInput"
						suggestionAction="#{customerBean.suggest}" var="cust" minChars="3"
						nothingLabel="No entry found">
						<h:column>
							#{cust.name}       					
       					</h:column>
						<h:column>
							#{cust.idNo}       					
       					</h:column>
						<a4j:support ajaxSingle="true" event="onselect"
							reRender="truckerId">
							<f:setPropertyActionListener value="#{cust.custCode}"
								target="#{deliveryOrderBean.deliveryOrder.truckerId}" />
						</a4j:support>
					</rich:suggestionbox>

					<h:inputHidden value="#{deliveryOrderBean.deliveryOrder.truckerId}" required="#{!empty param['form:save']}"
							requiredMessage="#{msg.requiredTrucker}" id="truckerId" />					
						
					<h:outputLabel for="doDeliveryTo">
						<h:outputText value="#{msg.doDeliveryTo}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{deliveryOrderBean.deliveryOrder.deliveryToName}"
						id="deliveryToInput" size="25" maxlength="100"/>

					<rich:suggestionbox for="deliveryToInput"
						suggestionAction="#{customerBean.suggest}" var="cust" minChars="3"
						nothingLabel="No entry found">
						<h:column>
							#{cust.name}       					
       					</h:column>
						<h:column>
							#{cust.idNo}       					
       					</h:column>
						<a4j:support ajaxSingle="true" event="onselect"
							reRender="deliveryToId">
							<f:setPropertyActionListener value="#{cust.custCode}"
								target="#{deliveryOrderBean.deliveryOrder.deliveryTo}" />
						</a4j:support>
					</rich:suggestionbox>

					<h:inputHidden value="#{deliveryOrderBean.deliveryOrder.deliveryTo}" required="#{!empty param['form:save']}"
							requiredMessage="#{msg.requiredDeliveryTo}" id="deliveryToId" />	
										
					<h:outputLabel for="doDeliveryAddress">
						<h:outputText value="#{msg.doDeliveryAddr}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText
						value="#{deliveryOrderBean.deliveryOrder.deliveryAddr1}" size="50"
						maxlength="50" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredDeliveryAddress}" />
					<rich:spacer width="5" />
					<h:inputText
						value="#{deliveryOrderBean.deliveryOrder.deliveryAddr2}" size="50"
						maxlength="50" />
					<rich:spacer width="5" />
					<h:inputText
						value="#{deliveryOrderBean.deliveryOrder.deliveryAddr3}" size="50"
						maxlength="50" />
					<rich:spacer width="5" />
					<h:inputText
						value="#{deliveryOrderBean.deliveryOrder.deliveryAddr4}" size="50"
						maxlength="50" />
						
					<h:outputLabel for="remark">
						<h:outputText value="#{msg.remark}:" />
					</h:outputLabel>
					<h:inputTextarea id="remark" value="#{deliveryOrderBean.deliveryOrder.remarks}" />

				</h:panelGrid>

				<h:commandButton value="#{msg.btnSave}" id="save"
					action="#{deliveryOrderBean.save}" rendered="#{deliveryOrderBean.deliveryOrder.status != deliveryOrderBean.cancelledStatus}"/>
				<h:commandButton value="#{msg.btnReset}" id="reset" type="reset" rendered="#{deliveryOrderBean.deliveryOrder.status != deliveryOrderBean.cancelledStatus}"/>
				<h:commandButton value="#{msg.btnCancel}" id="cancel" action="#{deliveryOrderBean.cancel}" rendered="#{deliveryOrderBean.deliveryOrder.status != deliveryOrderBean.cancelledStatus}" />
			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>
