<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="body">
		<h:form>
			<rich:panel style="width:815px;">
				<f:facet name="header">
					<h:outputText value="#{msg.searchDOHeader}"></h:outputText>
				</f:facet>

				<h:panelGrid columns="2">
					<h:outputText value="#{msg.doDocNo}:" />
					<h:inputText value="#{deliveryOrderBean.docNo}" size="20" />

					<h:outputText value="#{msg.doBookingNo}:" />
					<h:inputText value="#{deliveryOrderBean.bookingNo}" size="20" />

				</h:panelGrid>

				<h:panelGrid>
					<h:panelGroup>
						<rich:spacer height="15" />
						<h:commandButton value="#{msg.btnSearch}"
							action="#{deliveryOrderBean.search}" />
						<h:commandButton value="#{msg.btnReset}" type="reset" />
						<h:commandButton value="#{msg.btnAddDO}"
							action="#{deliveryOrderBean.create}" />
						<rich:spacer height="15" width="50" />
					</h:panelGroup>
				</h:panelGrid>

				<rich:spacer height="10" />

				<rich:dataTable value="#{deliveryOrderBean.listResult}" id="listDO"
					var="do" rowKeyVar="row" style="width:795px;" rows="10">
					<rich:column style="width:5px;">
						<f:facet name="header">
							<h:outputText value="#{msg.no}" />
						</f:facet>
						<h:outputText value="#{row+1}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.doDocNo}" />
						</f:facet>
						<h:commandLink action="#{deliveryOrderBean.edit}">
							<h:outputText value="#{do.docNo}" />							
							<f:param name="id" value="#{do.id}" />							
						</h:commandLink>
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.doBookingNo}" />
						</f:facet>
						<h:outputText value="#{do.bookingNo}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.doStatus}" />
						</f:facet>
						<h:outputText value="#{do.statusDesc}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="" />
						</f:facet>
						<h:commandLink value="#{msg.btnPrint}"
							action="#{deliveryOrderBean.print}" target="_blank">
							<f:param name="idNo" value="#{do.id}" />
						</h:commandLink>
					</rich:column>
				</rich:dataTable>

				<rich:spacer height="10" />

				<rich:datascroller for="listDO" maxPages="10" />
			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>

