<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="body">
		<h:form id="form">
			<h:inputHidden value="#{customerBean.editMode}" />
			<h:inputHidden value="#{customerBean.customer.custCode}" />
			<h:inputHidden value="#{customerBean.customer.state}" />
			<h:inputHidden value="#{customerBean.customer.createdBy}" />
			<h:inputHidden value="#{customerBean.customer.changedBy}" />
			<h:inputHidden value="#{customerBean.customer.createdOn}">
				<f:convertDateTime type="both" dateStyle="full" />
			</h:inputHidden>

			<rich:panel style="width:815px;">

				<f:facet name="header">
					<h:outputText value="#{customerBean.customerHeader}" />
				</f:facet>

				<h:messages style="color:darkred" />
				
					<h:outputLabel for="mandatory">
						<h:outputText value="*" style="color:red" />
						<h:outputText value="#{msg.mandatoryField}:" />
					</h:outputLabel>				

				<h:panelGrid columns="2">

					<h:outputLabel for="customerName">
						<h:outputText value="#{msg.custName}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{customerBean.customer.name}" size="50"
						maxlength="50" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredCustName}" />

					<h:outputLabel>
						<h:outputText value="#{msg.idType}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:selectOneMenu value="#{customerBean.customer.idType}"
						required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredCustIdType}">
						<f:selectItem itemValue="" itemLabel="#{msg.select}" />
						<f:selectItems value="#{customerBean.idTypeList}" />
					</h:selectOneMenu>

					<h:outputLabel for="customerIdNo">
						<h:outputText value="#{msg.idNo}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{customerBean.customer.idNo}" size="50"
						maxlength="20" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredCustIdNo}" />

					<h:outputLabel for="customerAddress">
						<h:outputText value="#{msg.custAddress}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{customerBean.customer.addressLine1}"
						size="50" maxlength="50" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredCustAddress}" />
					<rich:spacer width="5" />
					<h:inputText value="#{customerBean.customer.addressLine2}"
						size="50" maxlength="50" />

					<h:outputText value="#{msg.custHPTel}:" />
					<h:inputText value="#{customerBean.customer.hpTel}" size="20"
						maxlength="20" />

					<h:outputLabel for="customerWorkTel">
						<h:outputText value="#{msg.custWorkTel}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{customerBean.customer.workTel}" size="20"
						maxlength="20" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredCustWorkTel}" />

					<h:outputText value="#{msg.custEmail}:" />
					<h:inputText value="#{customerBean.customer.email}" size="50"
						maxlength="50">
						<f:validator validatorId="f2ms.EmailValidator" />
					</h:inputText>
				</h:panelGrid>

				<h:commandButton value="#{msg.btnSave}" id="save"
					action="#{customerBean.save}" />
				<h:commandButton value="#{msg.btnReset}" id="cancel" type="reset" />
			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>
