<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="body">
		<h:form>
			<rich:panel style="width:815px;">
				<f:facet name="header">
					<h:outputText value="#{msg.searchCustomerHeader}"></h:outputText>
				</f:facet>

				<h:panelGrid columns="2">
					<h:outputText value="#{msg.custName}:" />
					<h:inputText value="#{customerBean.name}" size="50" />

					<h:outputText value="#{msg.idType}:" />
					<h:selectOneMenu value="#{customerBean.idType}">
						<f:selectItem itemValue="" itemLabel="#{msg.select}" />
						<f:selectItems value="#{customerBean.idTypeList}" />
					</h:selectOneMenu>
					
					<h:outputText value="#{msg.idNo}:" />
					<h:inputText value="#{customerBean.idNo}" size="20" />
					
					<h:outputText value="#{msg.custAddress}:" />
					<h:inputText value="#{customerBean.address}" size="50" />
				</h:panelGrid>

				<h:panelGrid>
					<h:panelGroup>
						<rich:spacer height="15" />
						<h:commandButton value="#{msg.btnSearch}"
							action="#{customerBean.search}" />
						<h:commandButton value="#{msg.btnReset}" type="reset" />
						<h:commandButton value="#{msg.btnAddCustomer}"
							action="#{customerBean.create}" />
						<rich:spacer height="15" width="50" />
					</h:panelGroup>
				</h:panelGrid>

				<rich:spacer height="10" />

				<rich:dataTable value="#{customerBean.listResult}" id="listCustomer"
					var="cust" rowKeyVar="row" style="width:795px;" rows="10">
					<rich:column style="width:5px;">
						<f:facet name="header">
							<h:outputText value="#{msg.no}" />
						</f:facet>
						<h:outputText value="#{row+1}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.custName}" />
						</f:facet>
						<h:commandLink action="#{customerBean.edit}">
							<h:outputText value="#{cust.name}" />							
							<f:param name="custCode" value="#{cust.custCode}" />							
						</h:commandLink>
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.idType}" />
						</f:facet>
						<h:outputText value="#{cust.idTypeDesc}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.idNo}" />
						</f:facet>
						<h:outputText value="#{cust.idNo}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.custAddress}" />
						</f:facet>
						<h:outputText value="#{cust.addressLine1}" />
						<rich:spacer width="5" />
						<h:outputText value="#{cust.addressLine2}" />
					</rich:column>
				</rich:dataTable>

				<rich:spacer height="10" />

				<rich:datascroller for="listCustomer" maxPages="10" />
			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>

