.whiteTheme {
	font-family: Arial, Verdana, sans-serif;
	color: #FFFFFF;
	font-size: 13px;
}

A {
	color: #C0C0C0;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
	font-family: Arial, Verdana, sans-serif;
}

A:link {
	color: #C0C0C0;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
	font-family: Arial, Verdana, sans-serif;
}

A:visited {
	color: #C0C0C0;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
	font-family: Arial, Verdana, sans-serif;
}

A:active {
	color: #358391;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
	font-family: Arial, Verdana, sans-serif;
}

A:hover {
	color: #358391;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
	font-family: Arial, Verdana, sans-serif;
}

.blackBodyTheme {
	background-color: #000000;
}

.blackBodyTheme table {
	background-color: #000000;
	border-color: #cccccc;
	color: #ccccff;
	width: 1280px;
}