<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="body">
		<h:form id="form">
			<h:inputHidden value="#{cargoTypeBean.editMode}" />
			<h:inputHidden value="#{cargoTypeBean.cargoType.id}" />
			<h:inputHidden value="#{cargoTypeBean.cargoType.state}" />
			<h:inputHidden value="#{cargoTypeBean.cargoType.createdBy}" />
			<h:inputHidden value="#{cargoTypeBean.cargoType.changedBy}" />
			<h:inputHidden value="#{cargoTypeBean.cargoType.createdOn}">
				<f:convertDateTime type="both" dateStyle="full" />
			</h:inputHidden>

			<rich:panel style="width:815px;">

				<f:facet name="header">
					<h:outputText value="#{cargoTypeBean.cargoTypeHeader}" />
				</f:facet>

				<h:messages style="color:darkred" />
				
					<h:outputLabel for="mandatory">
						<h:outputText value="*" style="color:red" />
						<h:outputText value="#{msg.mandatoryField}:" />
					</h:outputLabel>				

				<h:panelGrid columns="2">

					<h:outputLabel for="cargoTypeCode">
						<h:outputText value="#{msg.cargoTypeCode}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{cargoTypeBean.cargoType.code}" size="10"
						maxlength="20" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredCargoTypeCode}" />

					<h:outputLabel for="cargoTypeDescription">
						<h:outputText value="#{msg.cargoTypeDescription}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{cargoTypeBean.cargoType.description}"
						size="50" maxlength="50" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredCargoTypeDescription}" />

					<h:outputLabel for="cargoTypeStatus">
						<h:outputText value="#{msg.cargoTypeStatus}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:selectOneMenu value="#{cargoTypeBean.cargoType.status}"
						required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredCargoTypeStatus}">
						<f:selectItem itemValue="" itemLabel="#{msg.select}" />
						<f:selectItems value="#{cargoTypeBean.statusList}" />
					</h:selectOneMenu>

					<h:outputText value="#{msg.cargoTypeRemarks}:" />
					<h:inputTextarea value="#{cargoTypeBean.cargoType.remarks}"
						cols="50" rows="3" />

				</h:panelGrid>

				<h:commandButton value="#{msg.btnSave}" id="save"
					action="#{cargoTypeBean.save}" />
				<h:commandButton value="#{msg.btnReset}" id="cancel" type="reset" />
			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>
