<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="body">
		<h:form>
			<rich:panel style="width:815px;">
				<f:facet name="header">
					<h:outputText value="#{msg.searchCargoTypeHeader}"></h:outputText>
				</f:facet>

				<h:panelGrid columns="2">
					<h:outputText value="#{msg.cargoTypeCode}:" />
					<h:inputText value="#{cargoTypeBean.code}" size="10" />

					<h:outputText value="#{msg.cargoTypeDescription}:" />
					<h:inputText value="#{cargoTypeBean.description}" size="50" />
					
					<h:outputText value="#{msg.cargoTypeStatus}:" />
					<h:selectOneMenu value="#{cargoTypeBean.status}">
						<f:selectItem itemValue="" itemLabel="#{msg.select}" />
						<f:selectItems value="#{cargoTypeBean.statusList}" />
					</h:selectOneMenu>					 
				</h:panelGrid>

				<h:panelGrid>
					<h:panelGroup>
						<rich:spacer height="15" />
						<h:commandButton value="#{msg.btnSearch}" action="#{cargoTypeBean.search}" />
						<h:commandButton value="#{msg.btnReset}" type="reset" />
						<h:commandButton value="#{msg.btnAddCargoType}"
							action="#{cargoTypeBean.create}" />
						<rich:spacer height="15" width="50" />
					</h:panelGroup>
				</h:panelGrid>

				<rich:spacer height="10" />

				<rich:dataTable value="#{cargoTypeBean.listResult}" id="listCargoType"
					var="cargoType" rowKeyVar="row" style="width:795px;" rows="10">
					<rich:column style="width:5px;">
						<f:facet name="header">
							<h:outputText value="#{msg.no}" />
						</f:facet>
						<h:outputText value="#{row+1}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.cargoTypeCode}" />
						</f:facet>
						<h:commandLink action="#{cargoTypeBean.edit}">
							<h:outputText value="#{cargoType.code}" />
							<f:param name="id" value="#{cargoType.id}" />
						</h:commandLink>
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.cargoTypeDescription}" />
						</f:facet>
						<h:outputText value="#{cargoType.description}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.cargoTypeStatus}" />
						</f:facet>
						<h:outputText value="#{cargoType.statusDescription}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.cargoTypeRemarks}" />
						</f:facet>
						<h:outputText value="#{cargoType.remarks}" />
					</rich:column>					
				</rich:dataTable>

				<rich:spacer height="10" />

				<rich:datascroller for="listCargoType" maxPages="10" />
			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>

