<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml">

	<ui:define name="body">
		<h:form id="form" target="_blank">
			<rich:panel style="width:815px;">
				<f:facet name="header">
					<h:outputText value="#{msg.headerDailyShipmentReport}" />
				</f:facet>

				<h:messages style="color:darkred" />

				<h:panelGrid columns="2">
					<h:outputLabel>
						<h:outputText value="#{msg.pol}:" />	
						<h:outputText value="*" style="color:red" />					
					</h:outputLabel>
					<h:inputText value="#{dailyReportBean.polDesc}" id="polInput"
						size="35" maxlength="100"/>

					<rich:suggestionbox for="polInput"
						suggestionAction="#{locationBean.suggest}" var="loc" minChars="3"
						nothingLabel="No entry found" fetchValue="#{loc.description}">
						<h:column>
							#{loc.id}       					
       					</h:column>
						<h:column>
							#{loc.code}       					
       					</h:column>
						<h:column>
							#{loc.description}       					
       					</h:column>
						<a4j:support ajaxSingle="true" event="onselect" reRender="polId">
							<f:setPropertyActionListener value="#{loc.id}"
								target="#{dailyReportBean.polId}" />
						</a4j:support>
					</rich:suggestionbox>

					<h:inputHidden value="#{dailyReportBean.polId}" id="polId" required="#{!empty param['form:btnGenerateRpt']}"
							requiredMessage="#{msg.requiredPOL}"/>

					<h:outputLabel>
						<h:outputText value="#{msg.pod}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{dailyReportBean.podDesc}" id="podInput"
						size="35" maxlength="100"/>

					<rich:suggestionbox for="podInput"
						suggestionAction="#{locationBean.suggest}" var="loc" minChars="3"
						nothingLabel="No entry found" fetchValue="#{loc.description}">
						<h:column>
							#{loc.id}       					
       					</h:column>
						<h:column>
							#{loc.code}       					
       					</h:column>
						<h:column>
							#{loc.description}       					
       					</h:column>
						<a4j:support ajaxSingle="true" event="onselect" reRender="podId">
							<f:setPropertyActionListener value="#{loc.id}"
								target="#{dailyReportBean.podId}" />
						</a4j:support>
					</rich:suggestionbox>

					<h:inputHidden value="#{dailyReportBean.podId}" id="podId" required="#{!empty param['form:btnGenerateRpt']}"
							requiredMessage="#{msg.requiredPOD}" />
					
					
					<h:outputLabel for="shipmentMode">
								<h:outputText value="#{msg.shipmentMode}:" />
								<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:selectOneMenu id="shipmentMode" value="#{dailyReportBean.shipmentType}"
								required="#{!empty param['form:btnGenerateRpt']}"
								requiredMessage="#{msg.requiredShipmentMode}" >
						<f:selectItem itemValue="" itemLabel="#{msg.select}" />
						<f:selectItems value="#{bookingBean.shipmentModeList}" />
					</h:selectOneMenu>																																		
				</h:panelGrid>
				
				<h:commandButton value="#{msg.btnGenerateReport}" id="btnGenerateRpt" action="#{dailyReportBean.generateReport}" />
				
			</rich:panel>			
		</h:form>
	</ui:define>
</ui:composition>
