<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="body">
		<h:form id="form">
			<h:inputHidden value="#{roleBean.editMode}" />
			<h:inputHidden value="#{roleBean.role.state}" />
			<h:inputHidden value="#{roleBean.role.createdBy}" />
			<h:inputHidden value="#{roleBean.role.changedBy}" />
			<h:inputHidden value="#{roleBean.role.createdOn}">
				<f:convertDateTime type="both" dateStyle="full" />
			</h:inputHidden>

			<rich:panel style="width:815px;">

				<f:facet name="header">
					<h:outputText value="#{roleBean.roleHeader}" />
				</f:facet>

				<h:messages style="color:darkred" />

				<h:panelGrid columns="2">

					<h:outputLabel for="roleCode">
						<h:outputText value="#{msg.roleCode}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{roleBean.role.roleCode}" size="20"
						maxlength="25" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredRoleCode}" />

					<h:outputLabel>
						<h:outputText value="#{msg.roleDesc}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{roleBean.role.roleDesc}" size="35"
						maxlength="60" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredRoleDesc}" />

				</h:panelGrid>

				<h:commandButton value="#{msg.btnSave}" id="save"
					action="#{roleBean.save}" />
				<h:commandButton value="#{msg.btnReset}" id="cancel" type="reset" />
			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>
