<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="body">
		<h:form>
			<rich:panel style="width:815px;">
				<f:facet name="header">
					<h:outputText value="#{msg.searchRoleHeader}"></h:outputText>
				</f:facet>

				<h:panelGrid columns="2">

					<h:outputText value="#{msg.roleCode}:" />
					<h:inputText value="#{roleBean.roleCode}" size="20" maxlength="25" />

					<h:outputText value="#{msg.roleDesc}:" />
					<h:inputText value="#{roleBean.roleDesc}" size="35" maxlength="60" />

				</h:panelGrid>

				<h:panelGrid>
					<h:panelGroup>
						<rich:spacer height="15" />
						<h:commandButton value="#{msg.btnSearch}"
							action="#{roleBean.search}" />
						<h:commandButton value="#{msg.btnReset}" type="reset" />
						<h:commandButton value="#{msg.btnAddRole}"
							action="#{roleBean.create}" />
						<rich:spacer height="15" width="50" />
					</h:panelGroup>
				</h:panelGrid>

				<rich:spacer height="10" />

				<rich:dataTable value="#{roleBean.listResult}" id="listRoles"
					var="role" rowKeyVar="row" style="width:795px;" rows="10">
					<rich:column style="width:5px;">
						<f:facet name="header">
							<h:outputText value="#{msg.no}" />
						</f:facet>
						<h:outputText value="#{row+1}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.roleCode}" />
						</f:facet>
						<h:commandLink action="#{roleBean.edit}">
							<h:outputText value="#{role.roleCode}" />
							
							<f:param name="roleCode" value="#{role.roleCode}" />							
						</h:commandLink>
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.roleDesc}" />
						</f:facet>
						<h:outputText value="#{role.roleDesc}" />
					</rich:column>
				</rich:dataTable>

				<rich:spacer height="10" />

				<rich:datascroller for="listRoles" maxPages="10" />
			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>

