<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="body">
		<h:form id="form">
			<h:inputHidden value="#{locationBean.editMode}" />
			<h:inputHidden value="#{locationBean.location.id}" />
			<h:inputHidden value="#{locationBean.location.state}" />
			<h:inputHidden value="#{locationBean.location.createdBy}" />
			<h:inputHidden value="#{locationBean.location.changedBy}" />
			<h:inputHidden value="#{locationBean.location.createdOn}">
				<f:convertDateTime type="both" dateStyle="full" />
			</h:inputHidden>

			<rich:panel style="width:815px;">

				<f:facet name="header">
					<h:outputText value="#{locationBean.locationHeader}" />
				</f:facet>

				<h:messages style="color:darkred" />

					<h:outputLabel for="mandatory">
						<h:outputText value="*" style="color:red" />
						<h:outputText value="#{msg.mandatoryField}:" />
					</h:outputLabel>

				<h:panelGrid columns="2">

					<h:outputLabel for="locationCode">
						<h:outputText value="#{msg.locationCode}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{locationBean.location.code}" size="10"
						maxlength="20" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredLocationCode}" />

					<h:outputLabel for="locationDescription">
						<h:outputText value="#{msg.locationDescription}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:inputText value="#{locationBean.location.description}" size="50"
						maxlength="50" required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredLocationDescription}" />

					<h:outputLabel for="locationStatus">
						<h:outputText value="#{msg.locationStatus}:" />
						<h:outputText value="*" style="color:red" />
					</h:outputLabel>
					<h:selectOneMenu value="#{locationBean.location.status}"
						required="#{!empty param['form:save']}"
						requiredMessage="#{msg.requiredLocationStatus}">
						<f:selectItem itemValue="" itemLabel="#{msg.select}" />
						<f:selectItems value="#{locationBean.statusList}" />
					</h:selectOneMenu>

					<h:outputText value="#{msg.locationRemarks}:" />
					<h:inputTextarea value="#{locationBean.location.remarks}" cols="50"
						rows="3" />

				</h:panelGrid>

				<h:commandButton value="#{msg.btnSave}" id="save"
					action="#{locationBean.save}" />
				<h:commandButton value="#{msg.btnReset}" id="cancel" type="reset" />
			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>
