<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/menu-template.xhtml"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="body">
		<h:form>
			<rich:panel style="width:815px;">
				<f:facet name="header">
					<h:outputText value="#{msg.searchLocationHeader}"></h:outputText>
				</f:facet>

				<h:panelGrid columns="2">
					<h:outputText value="#{msg.locationCode}:" />
					<h:inputText value="#{locationBean.code}" size="10" />
					<h:outputText value="#{msg.locationDescription}:" />
					<h:inputText value="#{locationBean.description}" size="50" />
					<h:outputText value="#{msg.locationStatus}:" />
					<h:selectOneMenu value="#{locationBean.status}" required="false">
						<f:selectItem itemValue="" itemLabel="#{msg.select}" />
						<f:selectItems value="#{locationBean.statusList}" />
					</h:selectOneMenu>
				</h:panelGrid>

				<h:panelGrid>
					<h:panelGroup>
						<rich:spacer height="15" />
						<h:commandButton value="#{msg.btnSearch}"
							action="#{locationBean.search}" />
						<h:commandButton value="#{msg.btnReset}" type="reset" />
						<h:commandButton value="#{msg.btnAddLocation}"
							action="#{locationBean.create}" />
						<rich:spacer height="15" width="50" />
					</h:panelGroup>
				</h:panelGrid>

				<rich:spacer height="10" />

				<rich:dataTable value="#{locationBean.listResult}" id="listLocation"
					var="location" rowKeyVar="row" style="width:795px;" rows="10">
					<rich:column style="width:5px;">
						<f:facet name="header">
							<h:outputText value="#{msg.no}" />
						</f:facet>
						<h:outputText value="#{row+1}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.locationCode}" />
						</f:facet>
						<h:commandLink action="#{locationBean.edit}">
							<h:outputText value="#{location.code}" />
							<f:param name="id" value="#{location.id}" />							
						</h:commandLink>
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.locationDescription}" />
						</f:facet>
						<h:outputText value="#{location.description}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.locationStatus}" />
						</f:facet>
						<h:outputText value="#{location.statusDescription}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{msg.locationRemarks}" />
						</f:facet>
						<h:outputText value="#{location.remarks}" />
					</rich:column>
				</rich:dataTable>

				<rich:spacer height="10" />

				<rich:datascroller for="listLocation" maxPages="10" />
			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>

